<?php $db = G('db');?>
<?php $starttime = G('starttime');?>
<?php $forumlist = G('forumlist');?>
<?php $forumarr = G('forumarr');?>
<?php $fid = G('fid');?>
<?php $conf = G('conf');?>
<?php $static_version = $conf['static_version'];?>

<?php echo xn_debug_info();?>

</div>

<div class="text-muted" id="footer">
	<div class="container" style="overflow: hidden;">
		<dl class="row m-t-1">
			<dt>
				<!--{hook footer_footer_left_start.htm}-->
				Powered by <b>Xiuno BBS <span><?php echo $conf['version'];?></span></b>
				<!--{hook footer_footer_left_end.htm}-->
			</dt>
			<dd class="text-right">
				<!--{hook footer_footer_right_start.htm}-->
				Time: <b><?php echo substr(microtime(1) - $starttime, 0, 5);?></b>, SQL: <b><?php echo count($db->sqls);?></b>
				<!--{hook footer_footer_right_end.htm}-->
			</dd>
		</dl>
	</div>
</div>

<!--[if lt IE 9]>
<script>window.location = '<?php echo url('browser');?>';</script>
<![endif]-->

<script src="../lang/<?php echo $conf['lang'];?>/bbs.js<?php echo $static_version;?>"></script>
<script src="../view/js/jquery-1.11.1.js<?php echo $static_version;?>"></script>
<script src="../view/js/tether.js<?php echo $static_version;?>"></script>
<script src="../view/js/bootstrap.js<?php echo $static_version;?>"></script>
<script src="../view/js/bootstrap-plugin.js<?php echo $static_version;?>"></script>
<script src="../view/js/async.js<?php echo $static_version;?>"></script>
<script src="../view/js/xiuno.js<?php echo $static_version;?>"></script>
<script src="../view/js/form.js<?php echo $static_version;?>"></script>
<script>
var debug = DEBUG = <?php echo DEBUG; ?>;
var url_rewrite_on = <?php echo $conf['url_rewrite_on'];?>
var forumlist = <?php echo xn_json_encode($forumlist_show);?>;
var forumarr = <?php echo xn_json_encode($forumarr);?>;
var fid = <?php echo $fid;?>;
</script>
<script src="../view/js/bbs.js<?php echo $static_version;?>"></script>

</div></body>
</html>