
<?php echo xn_debug_info();?>

</div>

<div class="text-muted" id="footer">
	<div class="container" style="overflow: hidden;">
		<div>xxx</div>
	</div>
</div>

<!--[if lt IE 9]>
<script>window.location = '<?php echo url('browser');?>';</script>
<![endif]-->
<script src="../lang/<?php echo $conf['lang'];?>/bbs.js<?php echo $static_version;?>"></script>
<script src="../view/js/jquery-1.11.1.js<?php echo $static_version;?>"></script>
<script src="../view/js/tether.js<?php echo $static_version;?>"></script>
<script src="../view/js/bootstrap.js<?php echo $static_version;?>"></script>
<script src="../view/js/bootstrap-plugin.js<?php echo $static_version;?>"></script>
<script>var debug = DEBUG = <?php echo DEBUG; ?>;</script>
<script src="../view/js/async.js<?php echo $static_version;?>"></script>
<script src="../view/js/xiuno.js<?php echo $static_version;?>"></script>
<script src="../view/js/form.js<?php echo $static_version;?>"></script>
<script>
var forumlist = <?php echo xn_json_encode($forumlist_show);?>;
var forumarr = <?php echo xn_json_encode($forumarr);?>;
var fid = <?php echo $fid;?>;
</script>
<script src="../view/js/bbs.js<?php echo $static_version;?>"></script>

</div></body>
</html>