<?php include './view/htm/header.inc.htm'; ?>

<!--{hook admin_index_start.htm}-->

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
				
		<!--{hook admin_index_site_stat_before.htm}-->

		<h3><?php echo lang('admin_index');?></h3>
		<hr />
		<div class="card card-block m-t-1">
			<h5><?php echo lang('site_stat_info');?></h5>
			<hr />
			<div class="row">
				<div class="col-md-4 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('threads');?>：</dt>
						<dd class="text-right"><?php echo $stat['threads']; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('posts');?>：</dt>
						<dd class="text-right"><?php echo $stat['posts']; ?>m</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('users');?>：</dt>
						<dd class="text-right"><?php echo $stat['users']; ?></dd>
					</dl>
					
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('attachs');?>：</dt>
						<dd class="text-right"><?php echo $stat['attachs']; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('attach_size');?>：</dt>
						<dd class="text-right">2015-1-12</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('disk_free_space');?>：</dt>
						<dd class="text-right"><?php echo $stat['disk_free_space']; ?></dd>
					</dl>
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('onlines');?>：</dt>
						<dd class="text-right">123</dd>
					</dl>
				</div>
			</div>
		</div>
		
		<!--{hook admin_index_server_info_before.htm}-->
		
		<div class="card card-block m-t-1">
			<h5><?php echo lang('server_info');?> <a href="<?php echo url('index-phpinfo');?>"><small>[PHPINFO]</small></a></h5>
			<hr />
			<div class="row">
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('os');?>：</dt>
						<dd class="text-right"><?php echo PHP_OS; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">Web Server：</dt>
						<dd class="text-right nowrap"><?php echo $info['SERVER_SOFTWARE']; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">PHP：</dt>
						<dd class="text-right"><?php echo PHP_VERSION;?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('database');?>：</dt>
						<dd class="text-right"><?php echo $conf['db']['type']; ?><br><small> (<?php echo $info['dbversion']; ?>)</small></dd>
					</dl>
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('post_max_size');?>：</dt>
						<dd class="text-right"><?php echo $info['post_max_size']; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('upload_max_filesize');?>：</dt>
						<dd class="text-right"><?php echo $info['upload_max_filesize']; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('allow_url_fopen');?>：</dt>
						<dd class="text-right"><?php echo $info['allow_url_fopen']; ?> </dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('safe_mode');?>：</dt>
						<dd class="text-right"><?php echo $info['safe_mode']; ?></dd>
					</dl>
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('max_execution_time');?>：</dt>
						<dd class="text-right"><?php echo $info['max_execution_time']; ?>秒</dd>
					</dl>
					
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('memory_limit');?>：</dt>
						<dd class="text-right"><?php echo $info['memory_limit']; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('client_ip');?>：</dt>
						<dd class="text-right"><?php echo $ip; ?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('server_ip');?>：</dt>
						<dd class="text-right"><?php echo _SERVER('SERVER_ADDR'); ?></dd>
					</dl>
				</div>
			</div>
		</div>
		
		<!--{hook admin_index_team_before.htm}-->
		
		<div class="card card-block m-t-1">
			<h5><?php echo lang('dev_team_info');?></h5>
			<hr />
			<p>Dev Leader: axiuno@gmail.com</p>
			<p>Official Site: <a href="http://www.xiuno.com" target="_blank">http://www.xiuno.com/</a></p>
			<p>Dev Team: </p>
			<blockquote class="m-l-3">
				<a href="http://bbs.xiuno.com/" target="_blank">axiuno</a>
				<a href="http://bbs.xiuno.com/" target="_blank">右键森林</a>
				<a href="http://bbs.xiuno.com/" target="_blank">吴兆焕</a>
				<a href="http://bbs.xiuno.com/" target="_blank">倚楼观天象</a>
				<a href="http://www.zd.hk/" target="_blank">杨永全</a>
				<a href="http://bbs.xiuno.com/" target="_blank">雷晨</a>
			</blockquote>
			<p>Thanks For: </p>
			<blockquote class="m-l-3">
				<a href="http://artery.cn/" target="_blank">Artery</a>　
				<a href="http://www.wooyun.org/" target="_blank">剑心@wooyun</a>
				<a href="http://bbs.xiuno.com/" target="_blank">小龙@xiuno</a>
				<a href="http://bbs.xiuno.com/" target="_blank">吴健@xiuno</a>
				<a href="http://bbs.xiuno.com/" target="_blank">鲁广@xiuno</a>
				<a href="http://bbs.xiuno.com/" target="_blank">小飞@xiuno</a>
			</blockquote>
		</div>
		
		<!--{hook admin_index_team_after.htm}-->
		
		<a role="button" class="btn btn-primary center-block hidden-md-up" href="<?php echo url('my');?>"> <?php echo lang('back');?> </a>
	</div>
</div>

<!--{hook admin_index_end.htm}-->

<?php include './view/htm/footer.inc.htm'; ?>

<script>

$('#nav_pc li.home, #nav_mobile li.home').tab('show');

</script>
<?php echo $lastversion; ?>


<!--{hook admin_index_js.htm}-->
