<?php $header['title'] = lang('message_title'); ?>
<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_message_start.htm}-->

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="card card-block m-t-1">
			<h4 class="card-title text-xs-center">
				<i class="icon-<?php echo $code == 0 ? 'ok' : 'warning-sign'; ?>" aria-hidden="true"></i> 
				<?php echo $message;?>
				
				<!--{hook admin_message_message_after.htm}-->
			</h4>
			<!--
			<p class="text-xs-center"><a href="#">Card link</a></p>
			-->
		</div>
	</div>
</div>

<!--{hook admin_message_end.htm}-->

<?php include _include(ADMIN_PATH.'./view/htm/footer.inc.htm');?>