<?php include _include(ADMIN_PATH.'view/htm/header.inc.htm');?>

<!--{hook admin_thread_list_start.htm}-->

<div class="row">
	<div class="col-xs-12">
		<div class="btn-group m-b-1" role="group">
			<?php echo admin_tab_active($menu['thread']['tab'], 'list');?>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<form action="<?php echo url('thread-scan');?>" method="post" id="form">
		<div class="card card-block">
			<h4 class="card-title"><?php echo lang('search_condition');?></h4>
			<div class="row">
				<div class="col-md-6">
					<fieldset class="form-group">
						<label for="fid"><?php echo lang('forum');?>：</label>
						<select class="form-control" name="fid" id="fid">
							<?php foreach ($forumlist as $forum) { ?>
							<option value="<?php echo $forum['fid']; ?>"><?php echo $forum['name']; ?></option>
							<?php } ?>
						</select>
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset class="form-group">
						<label for="keyword"><?php echo lang('keyword');?>：</label>
						<input class="form-control" type="text" id="keyword" placeholder="<?php echo lang('keyword');?>" value="" />
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<fieldset class="form-group">
						<label for="create_date_start"><?php echo lang('start_date');?>：</label>
						<input class="form-control" type="date" id="create_date_start" name="create_date_start" placeholder="<?php echo lang('start_date');?>" value="" />
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset class="form-group">
						<label for="create_date_end"><?php echo lang('end_date');?>：</label>
						<input class="form-control" type="date" id="create_date_end" name="create_date_end" placeholder="<?php echo lang('end_date');?>" value="" />
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<fieldset class="form-group">
						<label for="create_date_end"><?php echo lang('thread_userip');?>：</label>
						<input class="form-control" type="text" id="userip" name="userip" placeholder="<?php echo lang('thread_userip');?>" value="" />
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset class="form-group">
						<label for="create_date_end"><?php echo lang('user');?> ID：</label>
						<input class="form-control" type="text" id="uid" name="uid" placeholder="<?php echo lang('uid');?>" value="" />
					</fieldset>
				</div>
			</div>
			<!--{hook admin_thread_list_search_before.htm}-->
			<div class="row">
				<div class="col-md-6">
					<button type="button" id="search" class="btn btn-primary" data-loading-text="<?php echo lang('searching');?>... "><?php echo lang('search');?></button>
				</div>
			</div>
		</div>
		</form>
		
		<div class="card card-block hidden" id="search_result">
			<progress class="progress progress-success" value="1" max="100" id="progress">0%</progress>
			<?php echo lang('thread_search_result', array('n'=>'<b id="threads">0</b>'));?>, <a href="<?php echo url('thread-found');?>" target="_blank"><b><?php echo lang('click_to_view');?></b></a>
			<p id="operation" class="hidden m-t-1">
				<button type="button" id="close" class="btn btn-primary" data-loading-text="<?php echo lang('operating');?>... "><i class="icon-lock"></i> <?php echo lang('close');?></button>
				<button type="button" id="open" class="btn btn-primary" data-loading-text="<?php echo lang('operating');?>... "><i class="icon-unlock"></i> <?php echo lang('open');?></button>
				<button type="button" id="delete" class="btn btn-danger" data-loading-text="<?php echo lang('operating');?>... "><i class="icon-remove"></i> <?php echo lang('delete');?></button>
				<!--{hook admin_thread_list_delete_after.htm}-->
			</p>
		</div>
	</div>
</div>

<!--{hook admin_thread_list_end.htm}-->

<?php include _include(ADMIN_PATH.'view/htm/footer.inc.htm');?>

<script>

var jform = $('#form');
var jsubmit = $('#search');
var jopsubmit = $('#operation').find('input[type="button"]');
var jsearch_result = $('#search_result');
var jprogress = $('#progress');
var jthreads = $('#threads');
var joperation = $('#operation');
var threads = 0; // 符合的条数
var page = 1;
var pagesize = <?php echo $pagesize;?>;
var totalpage = <?php echo $totalpage;?>;
var pagearr = [];
for(var i=1; i <= totalpage; i++) pagearr.push(i);
jsubmit.on('click', function() {
	jsubmit.button('loading');
	var postdata = jform.serializeObject();
	var url = jform.attr('action');
	threads = 0;
	$.each_sync(pagearr, function(i, callback) {
		postdata.page = pagearr[i];
		$.xpost(url, postdata, function(code, message) {
			if(code == 0) {
				var tids = message;
				threads += tids.length;
				jthreads.html(threads);
				jprogress.val( (postdata.page / totalpage) * 100);
				if(postdata.page == totalpage) {
					jsubmit.button('reset');
					jopsubmit.button('reset');
					joperation.show();
				}
			} else {
				alert(message);
			}
			callback();
		});
	});
	jsearch_result.show();
	return false;
});
$('#nav_pc li.thread, #nav_mobile li.thread').tab('show');


jopsubmit.on('click', function() {
	var jthis = $(this);
	var op = jthis.attr('id');
	var url = xn.url('thread-operation-'+op);
	var totalpage = Math.max(1, Math.ceil(threads / pagesize));
	var jsubmit = jthis;
	jsubmit.button('loading');
	var postdata = {};
	jprogress.val(0);
	var operation_threads = 0;
	$.each_sync(pagearr, function(i, callback) {
		postdata.page = pagearr[i];
		$.xpost(url, postdata, function(code, message) {
			if(code == 1) {
				alert(message);
			}
			if(code == 0) {
				var tids = message;
				operation_threads += tids.length;
				jthreads.html(operation_threads);
				jprogress.val( (postdata.page / totalpage) * 100 );
				if(postdata.page == totalpage) {
					jsubmit.button('<?php echo lang('operator_complete');?>');
					jopsubmit.button('disabled');
					joperation.show();
				}
			} else {
				alert(message);
			}
			callback();
		});
	});
	jsearch_result.show();
	return false;
	
});

</script>

<!--{hook admin_thread_list_js.htm}-->
