<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="XiunoBBS 4.0" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title>Xiuno BBS 4.0 安装向导</title>
	
	<link rel="shortcut icon" href="../view/img/favicon.ico" />
	<link rel="icon" sizes="32x32" href="../view/img/favicon.ico">
	<link rel="Bookmark" href="../view/img/favicon.ico" />
	<link rel="stylesheet" href="../view/css/bootstrap.css">
	<link rel="stylesheet" href="../view/css/font-awesome.css">
	<link rel="stylesheet" href="../view/css/tether.css">
	<link rel="stylesheet" href="../view/css/bbs.css">
	<style>
	</style>
</head>

<body>
	<div id="wrapper">
	
		<nav class="navbar navbar-dark bg-inverse navbar-full navbar-fixed-top" id="header">
			<!-- pc navigation -->
			<div class="container collapse navbar-toggleable-md">
				<div class="row">
					<div class="col-md-8">
						<ul class="nav navbar-nav" id="nav_pc">
							<li class="nav-item">
								<img src="../view/img/logo.png" class="logo-sm">
							</li>
							<li class="nav-item">
								<h4 class="m-t-xs">Xiuno BBS <small class="text-danger">v4.0</small> 安装向导</h4>
							</li>
						</ul>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
			
			<!-- mobile navigation -->
			<div class="container hidden-lg-up navbar-nav">
				<div class="row">
					<div class="col-xs-4"></div>
					<div class="col-xs-4">
						<a class="nav-link p-y-0" href="."><img src="../view/img/logo.png" class="logo-sm center-block"></a>
					</div>
					<div class="col-xs-4"></div>
				</div>
			</div>
			
		</nav>
		
		<div id="body" class="container">