<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>提示信息</title>
<style type="text/css">
a{color:#d4557f; font-size: 14px; color: black;}
a:hover{color:#a01845}
.main{width:1000px;height:350px;margin:20px auto; background:url(static/browser.gif) no-repeat;position:relative}
.pos1{position:absolute;top:300px;left:380px}
.pos2{position:absolute;top:300px;left:570px}
.pos3{position:absolute;top:300px;left:760px}
</style>
</head>
<body>
<div class="main">
	<a class="pos1" href="http://down.tech.sina.com.cn/download/d_load.php?d_id=40975&down_id=9&ip=8.8.8.8" target="_blank">下载 Chrome</a>
	<a class="pos2" href="http://download.firefox.com.cn/releases/stub/official/zh-CN/Firefox-latest.exe" target="_blank">下载 Firefox</a>
	<a class="pos3" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-10-worldwide-languages/" target="_blank">下载 IE10+</a>
</div>
<br>
<p style="font-size: 12px; text-align: center; color: #888888;">您的浏览器信息：<script>document.write(navigator.userAgent);</script></p>
</body>
</html>