<?php $db = G('db');?>
<?php $starttime = G('starttime');?>

<?php  echo xn_debug_info(); ?>

</div>

<div class="text-muted" id="footer">
	<div class="container" style="overflow: hidden;">
		<div>Processed time: <?php echo microtime(1) - $starttime;?></div>
		<div>SQL Queries: <?php echo count($db->sqls);?></div>
	</div>
</div>

<!--[if lt IE 9]>
<script>window.location = 'view/htm/browser.html';</script>
<![endif]-->

<script src="lang/zh-cn.js<?php echo $static_version;?>"></script>
<script src="view/js/jquery-1.11.1.js<?php echo $static_version;?>"></script>
<script src="view/js/tether.js<?php echo $static_version;?>"></script>
<script src="view/js/bootstrap.js<?php echo $static_version;?>"></script>
<script src="view/js/bootstrap-plugin.js<?php echo $static_version;?>"></script>
<script>var debug = DEBUG = <?php echo DEBUG; ?>;</script>
<script src="view/js/async.js<?php echo $static_version;?>"></script>
<script src="view/js/xiuno.js<?php echo $static_version;?>"></script>
<script src="view/js/bbs.js<?php echo $static_version;?>"></script>

</div></body>
</html>