</div>

<div class="text-muted" id="footer">
	<div class="container" style="overflow: hidden;">
		<div>xxx</div>
	</div>
</div>

<script src="view/js/jquery-1.11.1.js"></script>
<script src="view/js/tether.js"></script>
<script src="view/js/bootstrap.js"></script>
<script>var debug = DEBUG = <?php echo DEBUG; ?>;</script>
<script src="view/js/xiuno.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</div></body>
</html>