<?php include "./view/htm/header.inc.htm"; ?>

<div class="row m-t-1">
	<div class="col-lg-9">
		<ol class="breadcrumb m-b-sm hidden-lg-down">
			<li><a href="./"><i class="icon-home"></i></a></li>
			<li><a href="<?php echo url("forum-$fid");?>"><?php echo $forum['name'];?></a></li>
		</ol>
		<div class="card p-a-sm">
			<table class="table table-hover threadlist">
				<thead>
					<tr>
						<th colspan="2" class="p-t-0 p-l-0">
							<dl class="row">
								<dt><b>最新回复</b></dt>
								<dd>
									<a role="button" class="btn btn-primary btn-sm pull-right" id="submit" data-loading-text="<?php echo lang('submiting');?>..." href="<?php echo url('thread-create');?>"><?php echo lang('thread_create_new');?></a>
								</dd>
							</dl>
						</th>
					</tr>
				</thead>
				<tbody>
					<?php include './view/htm/thread_list.inc.htm';?>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="card">
			<img class="center-block m-t-1" data-src="holder.js/100%x180" alt="100%x180" src="<?php echo $forum['icon_url'];?>" width="100" height="100">
			<h4 class="text-center"><?php echo $forum['name'];?></h4>
			<p class="m-x-1 text-middle"><?php echo $forum['brief'];?></p>
			<div class="card-group card-group-nest">
				<div class="card">
					<div class="card-block">
						<div class="text-center text-muted small">今日</div>
						<h5 class="text-center">123</h5>
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<div class="text-center text-muted small">主题</div>
						<h5 class="text-center">234</h5>
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<div class="text-center text-muted small">排名</div>
						<h5 class="text-center">2</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-block">
				<h4>版块公告</h4>
				<hr class="m-y-sm" />
				<p class="text-middle">
					版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容
				</p>
				<h6 class="text-bold">论坛版主：</h6>
				<hr class="m-y-sm" />
				<div class="row">
					<div class="col-xs-3 m-b-1 text-center">
						<a href="#"><img src="view/img/avatar.png" alt="..." width="32" height="32" class="img-circle"></a><br>
						<a href="#" class="small text-muted text-nowrap">名名称名称</a>
					</div>
					<div class="col-xs-3 m-b-1 text-center">
						<a href="#"><img src="view/img/avatar.png" alt="..." width="32" height="32" class="img-circle"></a><br>
						<a href="#" class="small text-muted">名称</a>
					</div>
					<div class="col-xs-3 m-b-1 text-center">
						<a href="#"><img src="view/img/avatar.png" alt="..." width="32" height="32" class="img-circle"></a><br>
						<a href="#" class="small text-muted">名称</a>
					</div>
					<div class="col-xs-3 m-b-1 text-center">
						<a href="#"><img src="view/img/avatar.png" alt="..." width="32" height="32" class="img-circle"></a><br>
						<a href="#" class="small text-muted">名称</a>
					</div>
					<div class="col-xs-3 m-b-1 text-center">
						<a href="#"><img src="view/img/avatar.png" alt="..." width="32" height="32" class="img-circle"></a><br>
						<a href="#" class="small text-muted">名称</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<?php include "./view/htm/footer.inc.htm"; ?>