<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<!--{hook forum_start.htm}-->

<div class="row">
	<div class="col-lg-9">
		<!--{hook forum_breadcrumb_before.htm}-->
		<ol class="breadcrumb d-none d-md-flex">
			<li class="breadcrumb-item"><a href="./"><i class="icon-home" aria-hidden="true"></i></a></li>
			<li class="breadcrumb-item active"><a href="<?php echo url("forum-$fid");?>"><?php echo $forum['name'];?></a></li>
			<!--{hook forum_breadcrumb.htm}-->
		</ol>
		
		<!--{hook forum_breadcrumb_after.htm}-->
				
		<div class="card">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link <?php echo $active == 'default' ? 'active' : '';?>" href="<?php echo url("forum-$fid");?>"><?php echo lang('new_thread');?></a>
					</li>
					<!--{hook forum_thread_list_nav_item_after.htm}-->
				</ul>
			</div>
			<div class="card-body">
				<table class="table table-hover threadlist mb-0">
					<tbody>
						<!--{hook forum_threadlist_before.htm}-->
						<?php include _include(APP_PATH.'view/htm/thread_list.inc.htm');?>
						<!--{hook forum_threadlist_after.htm}-->
					</tbody>
				</table>
			</div>
		</div>

		<?php include _include(APP_PATH.'view/htm/thread_list_mod.inc.htm');?>
		<!--{hook forum_page_before.htm}-->
		<nav class="my-3"><ul class="pagination justify-content-center"><?php echo $pagination; ?></ul></nav>
		<!--{hook forum_page_after.htm}-->
	</div>
	<div class="col-lg-3 d-none d-lg-block">
	
		<a role="button" class="btn btn-primary btn-block mb-3" href="<?php echo url('thread-create-'.$fid);?>"><?php echo lang('thread_create_new');?></a>
		
		<div class="card">
			<div class="m-3 text-center">
				<img align="center" data-src="" alt="100%x180" src="<?php echo $forum['icon_url'];?>" width="100" height="100">
				<h5><?php echo $forum['name'];?></h5>
				<!--{hook forum_brief_before.htm}-->
				<div class="text-left"><?php echo $forum['brief'];?></div>
				<!--{hook forum_brief_before.htm}-->
			</div>
			<div class="card-footer p-2">
				<table class="w-100 small">
					<tr align="center">
						<td>
							<span class="text-muted"><?php echo lang('threads');?></span><br>
							<b><?php echo $forum['threads'];?></b>
						</td>
						<td>
							<span class="text-muted"><?php echo lang('today_posts');?></span><br>
							<b><?php echo $forum['todayposts'];?></b>
						</td>
						<td>
							<span class="text-muted"><?php echo lang('today_threads');?></span><br>
							<b><?php echo $forum['todaythreads'];?></b>
						</td>
						<!--{hook forum_todaythreads_after.htm}-->
					</tr>
				</table>
			</div>
		</div>
		
		<!--{hook forum_mod_before.htm}-->
		<?php if($forum['announcement'] || $forum['modlist']) { ?>
		<div class="card">
			<div class="card-body">
				<?php if($forum['announcement']) { ?>
				<h6 class="card-title"><?php echo lang('forum_anouncement');?>：</h6>
				<p class="text-middle">
					<?php echo $forum['announcement'];?>
				</p>
				<?php  } ?>
				
				<?php if($forum['modlist']) { ?>
				<h6 class="card-title"><?php echo lang('forum_moderator');?>：</h6>
				<div class="row">
					<?php foreach ($forum['modlist'] as $mod) { ?>
					<div class="col-3 mb-1 text-center">
						<a href="#"><img src="<?php echo $conf['view_url'];?>img/avatar.png" alt="..." width="32" height="32" class="img-circle"></a><br>
						<a href="<?php echo url("user-$mod[uid]");?>" class="small text-muted text-nowrap"><?php echo $mod['username'];?></a>
					</div>
					<?php } ?>
				</div>
				<?php  } ?>
			</div>
		</div>
		<?php  } ?>
		<!--{hook forum_mod_after.htm}-->
	</div>
</div>


<!--{hook forum_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<script>
$('#nav_pc li[fid="<?php echo $fid;?>"]').addClass('active');
</script>

<!--{hook forum_js.htm}-->