<!DOCTYPE html>
<html lang="en">
<head>
	<?php $header = G('header');?>
	<?php $user = G('user');?>
	<?php $forumlist_show = G('forumlist_show');?>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="XiunoBBS 4.0" />
	<meta name="keywords" content="<?php echo $header['keywords'];?>" />
	<meta name="description" content="<?php echo $header['description'];?>" />
	<title><?php echo $header['keywords'];?></title>
	
	<link rel="shortcut icon" href="view/img/favicon.ico" />
	<link rel="icon" sizes="32x32" href="view/img/favicon.ico">
	<link rel="Bookmark" href="view/img/favicon.ico" />
	<link rel="stylesheet" href="view/css/bootstrap.css">
	<link rel="stylesheet" href="view/css/font-awesome.css">
	<link rel="stylesheet" href="view/css/tether.css">
	<link rel="stylesheet" href="view/css/bbs.css">
	<style>
		
	</style>
</head>

<body><div id="wrapper">
	<nav class="navbar navbar-dark bg-inverse navbar-full navbar-fixed-top" id="header">
	
		<!-- pc navigation -->
		<div class="container collapse navbar-toggleable-md">
			<div class="row">
				<div class="col-md-8">
					<ul class="nav navbar-nav" id="nav_pc">
						<li class="nav-item">
							<img src="view/img/logo.png" class="logo-sm">
						</li>
						<li class="nav-item home" fid="0">
							<a class="nav-link" href="."><?php echo lang('index_page');?></a>
						</li>
						<?php foreach($forumlist_show as $forum) { ?>
						<li class="nav-item" fid="<?php echo $forum['fid'];?>">
							<a class="nav-link" href="<?php echo url("forum-$forum[fid]");?>"><?php echo $forum['name'];?></a>
						</li>
						<?php } ?>
						
						<li class="nav-item">
							<div class="dropdown">
								<a class="nav-link nav-more dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"></a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
									<button class="dropdown-item" type="button" aria-label="" >Action</button>
									<button class="dropdown-item" type="button" aria-label="" >Another action</button>
									<button class="dropdown-item" type="button" aria-label="" >Something else here</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="nav navbar-nav pull-right small">
						<?php if(empty($uid)) { ?>
						<li class="nav-item">
							<a class="nav-link" href="<?php echo url('user-login');?>"><?php echo lang('login');?></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="<?php echo url('user-create');?>"><?php echo lang('register');?></a>
						</li>
						<?php } else { ?>
						<li class="nav-item">
							<a class="nav-link" href="<?php echo url('my');?>"><img class="avatar-xs" src="<?php echo $user['avatar_url'];?>"></a>
						</li>
						<li class="nav-item username m-l-xs">
							<a class="nav-link" href="<?php echo url('my');?>"><?php echo $user['username'];?></a>
						</li>
						<?php if($gid == 1) { ?>
						<li class="nav-item">
							<a class="nav-link" href="admin/"><i class="icon-home"></i> <?php echo lang('admin_page');?></a>
						</li>
						<?php } ?>
						<li class="nav-item">
							<a class="nav-link" href="<?php echo url('user-logout');?>"><?php echo lang('logout');?></a>
						</li>
						<?php } ?>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- mobile navigation -->
		<div class="container hidden-lg-up navbar-nav">
			<div class="row">
				<div class="col-xs-4">
					 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile_collapsing_bavbar">
						☰
					 </button>
				</div>
				<div class="col-xs-4">
					<a class="nav-link p-y-0" href="."><img src="view/img/logo.png" class="logo-sm center-block"></a>
				</div>
				<div class="col-xs-4">
					<div class="pull-right">
						<div class="nav-item small">
							<?php if(empty($uid)) { ?>
							<a class="nav-link" href="<?php echo url('user-login');?>"><?php echo lang('login');?></a>
							<?php } else { ?>
							<a class="nav-link" href="<?php echo url('my');?>"><?php echo $user['username'];?></a>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="collapse" id="mobile_collapsing_bavbar">
			<div class="bg-inverse p-a-1">
				<ul class="nav" id="nav_mobile">
					<?php foreach($forumlist_show as $forum) { ?>
					<li class="nav-item" fid="<?php echo $forum['fid'];?>">
						<a class="nav-link" href="<?php echo url("forum-$forum[fid]");?>"><?php echo $forum['name'];?></a>
					</li>
					<?php } ?>
					
					<hr class="m-y-sm" />
					<?php if($gid == 1) { ?>
					<li class="nav-item">
						<a class="nav-link" href="admin/"><i class="icon-home"></i> <?php echo lang('admin_page');?></a>
					</li>
					<?php } ?>
					<hr class="m-y-sm" />
					<?php if($uid) { ?>
					<li class="nav-item">
						<a class="nav-link" href="<?php echo url('user-logout');?>"><?php echo lang('logout');?></a>
					</li>
					<?php } ?>
				</ul>
			</div>
		</div>
		
	</nav>
	
	
	<div id="body" class="container">