	<!--{hook header_nav_start.htm}-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="header">
		<div class="container">
		
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_pc" aria-controls="navbar_collapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!--{hook header_nav_pc_start.htm}-->
			
			<a class="navbar-brand" href="<?php echo $header['mobile_link'];?>">
				<img src="<?php echo $conf['view_url'];?>img/logo.png" class="logo-2">
				<?php if($header['mobile_title']) { ?>
					<span class="hidden-lg"><?php echo $header['mobile_title'];?></span>
				<?php } ?>
			</a>
			
			<?php if(empty($uid)) { ?>
				<a class="navbar-brand hidden-lg" href="<?php echo url('user-login');?>" aria-label="<?php echo lang('login');?>"> <i class="icon-user icon"></i></a>
			<?php } else { ?>
				<a class="navbar-brand hidden-lg" href="<?php echo url("thread-create-$fid");?>" aria-label="<?php echo lang('thread_create');?>"><i class="icon-edit icon"></i></a>
			<?php } ?>
			
			<!--{hook header_nav_logo_after.htm}-->
			<div class="collapse navbar-collapse" id="nav_pc">
				<!-- 左侧：版块 -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item home" fid="0"><a class="nav-link" href="."><?php echo lang('index_page');?></a></li>
					<!--{hook header_nav_home_link_after.htm}-->
					<?php foreach($forumlist_show as $_forum) { ?>
					<!--{hook header_nav_forumlist_loop_start.htm}-->
					<li class="nav-item" fid="<?php echo $_forum['fid'];?>">
						<a class="nav-link" href="<?php echo url("forum-$_forum[fid]");?>"><?php echo $_forum['name'];?></a>
					</li>
					<!--{hook header_nav_forumlist_loop_end.htm}-->
					<?php } ?>
					<!--{hook header_nav_pc_end.htm}-->
				</ul>
				<!-- 右侧：用户 -->
				<ul class="navbar-nav">
					<!--{hook header_nav_pc_user_start.htm}-->
				<?php if(empty($uid)) { ?>
					<li class="nav-item"><a class="nav-link" href="<?php echo url('user-login');?>"><i class="icon-user"></i> <?php echo lang('login');?></a></li>
					<!--<li class="nav-item"><a class="nav-link" href="<?php echo url('user-create');?>"><?php echo lang('register');?></a></li>-->
				<?php } else { ?>
					<li class="nav-item username"><a class="nav-link" href="<?php echo url('my');?>"><img class="avatar-1" src="<?php echo $user['avatar_url'];?>"> <?php echo $user['username'];?></a></li>
					<!-- 管理员 -->
					<?php if($gid == 1) { ?>
					<li class="nav-item"><a class="nav-link" href="admin/"><i class="icon-home"></i> <?php echo lang('admin_page');?></a></li>
					<?php } ?>
					<li class="nav-item"><a class="nav-link" href="<?php echo url('user-logout');?>"><i class="icon-user-times"></i> <?php echo lang('logout');?></a></li>
				<?php } ?>
					<!--{hook header_nav_pc_user_end.htm}-->
				</ul>
			</div>
		</div>
	</nav>
	<!--{hook header_nav_footer.htm}-->