	
	<!--{hook header_nav_start.htm}-->
	
	<nav class="navbar navbar-dark bg-inverse navbar-full navbar-fixed-top" id="header">
	
		<!-- PC 导航 -->
		<div class="container collapse navbar-toggleable-md">
			<div class="row">
				<!-- 左侧：版块区域 -->
				<div class="col-md-8">
					<ul class="nav navbar-nav" id="nav_pc">
					
						<!--{hook header_nav_pc_start.htm}-->
						
						<!-- LOGO -->
						<li class="nav-item"><img src="<?php echo $conf['view_url'];?>img/logo.png" class="logo-sm"></li>
						
						<!--{hook header_nav_logo_after.htm}-->
						
						<!-- 前台首页 -->
						<li class="nav-item home" fid="0"><a class="nav-link" href="."><?php echo lang('index_page');?></a></li>
						
						<!--{hook header_nav_home_link_after.htm}-->
						
						<!-- 版块 -->
						<?php foreach($forumlist_show as $_forum) { ?>
						
						<!--{hook header_nav_forumlist_loop_start.htm}-->
						<li class="nav-item" fid="<?php echo $_forum['fid'];?>">
							<a class="nav-link" href="<?php echo url("forum-$_forum[fid]");?>"><?php echo $_forum['name'];?></a>
						</li>
						<!--{hook header_nav_forumlist_loop_end.htm}-->
						
						<?php } ?>
						
						<!--{hook header_nav_pc_end.htm}-->
						
					</ul>
				</div>
				<!-- 右侧：用户区域-->
				<div class="col-md-4">
					<ul class="nav navbar-nav pull-right small">
					
						<!--{hook header_nav_pc_user_start.htm}-->
						
						<!-- 游客 -->
						<?php if(empty($uid)) { ?>
						
						<li class="nav-item"><a class="nav-link" href="<?php echo url('user-login');?>"><?php echo lang('login');?></a></li>
						<li class="nav-item"><a class="nav-link" href="<?php echo url('user-create');?>"><?php echo lang('register');?></a></li>
						
						<!-- 登陆用户 -->
						<?php } else { ?>
						
						<li class="nav-item" aria-hidden="true"><a class="nav-link" href="<?php echo url('my');?>" aria-hidden="true" tabindex="-1"><img class="avatar-xs" src="<?php echo $user['avatar_url'];?>"></a></li>
						<li class="nav-item username m-l-xs"><a class="nav-link" href="<?php echo url('my');?>"><?php echo $user['username'];?></a></li>
						<!-- 管理员 -->
						<?php if($gid == 1) { ?>
						<li class="nav-item"><a class="nav-link" href="admin/"><i class="icon-home" aria-hidden="true"></i> <?php echo lang('admin_page');?></a></li>
						<?php } ?>
						<li class="nav-item"><a class="nav-link" href="<?php echo url('user-logout');?>"><?php echo lang('logout');?></a></li>
						
						<?php } ?>
						
						<!--{hook header_nav_pc_user_end.htm}-->
					</ul>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		<!-- 手机导航 -->
		<div class="container hidden-lg-up navbar-nav">
			<div class="row">
				<!-- 左侧：折叠图标 -->
				<div class="col-xs-2">
					<?php if($route == 'index' || $route == 'forum') { ?>
					 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile_collapsing_bavbar">☰</button>
					 <?php } else { ?>
					 <a class="nav-link icon-chevron-left icon-2x xn-back" href="javascript:history.back();" aria-label="<?php echo lang('back');?>"></a>
					 <?php } ?>
				</div>
				
				<!-- 中间：标题 -->
				<div class="col-xs-8 text-center text-nowrap">
					<a class="nav-link" href="<?php echo $header['mobile_link'];?>">
					<?php if($header['mobile_title']) { ?>
						<?php echo $header['mobile_title'];?>
					<?php } else { ?>
						<img src="<?php echo $conf['view_url'];?>img/logo.png" class="logo-sm center-block">
					<?php } ?>
					</a>
				</div>
				
				<!-- 右侧：登陆 -->
				<div class="col-xs-2">
					<div class="pull-right">
						<div class="nav-item small">
						<?php if(empty($uid)) { ?>
							<a class="nav-link m-r-xs" href="<?php echo url('user-login');?>" aria-label="<?php echo lang('login');?>"> <i class="icon-user  icon-2x" aria-hidden="true"></i></a>
						<?php } else { ?>
							
						<?php if($route != 'thread') { ?>
							<a class="nav-link icon-edit icon-2x" href="<?php echo url("thread-create-$fid");?>" aria-label="<?php echo lang('thread_create');?>"></a>
						<?php } else { ?>
							<a class="nav-link icon-reply icon-2x" href="<?php echo url("post-create-$tid");?>" aria-label="<?php echo lang('post_create_new');?>"></a>
						<?php } ?>
							
						<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 手机导航：下拉菜单 mobile navigation drop menu -->
		<div class="collapse" id="mobile_collapsing_bavbar">
			<div class="bg-inverse p-a-1">
				<ul class="nav" id="nav_mobile">
					<li class="nav-item">
						<a class="nav-link" href="./"><i class="icon-home" aria-hidden="true"></i> <?php echo lang('index_page');?></a>
					</li>
					
					<!--{hook header_nav_mobile_forum_before.htm}-->
					
					<?php foreach($forumlist_show as $_forum) { ?>
					<li class="nav-item" fid="<?php echo $_forum['fid'];?>">
						<a class="nav-link m-l-2" href="<?php echo url("forum-$_forum[fid]");?>"><i class="icon-circle-blank" aria-hidden="true"></i> <?php echo $_forum['name'];?></a>
					</li>
					<?php } ?>
					
					<!--{hook header_nav_mobile_forum_after.htm}-->
					
					<!-- 个人资料 / profile -->
					<?php if($uid) { ?>
					<li class="nav-item">
						<a class="nav-link" href="<?php echo url('my');?>"><i class="icon-user" aria-hidden="true"></i> <?php echo lang('user_profile');?></a>
					</li>
					<?php } ?>
					
					<!-- 后台 / background -->
					<?php if($gid == 1) { ?>
					<li class="nav-item">
						<a class="nav-link" href="admin/"><i class="icon-home" aria-hidden="true"></i> <?php echo lang('admin_page');?></a>
					</li>
					<?php } ?>
					
					<!--{hook header_nav_mobile_logout_before.htm}-->
					
					<!-- 退出 / logout-->
					<?php if($uid) { ?>
					<li class="nav-item">
						<a class="nav-link" href="<?php echo url('user-logout');?>"><i class="icon-off" aria-hidden="true"></i> <?php echo lang('logout');?></a>
					</li>
					<?php } ?>
					
					<!--{hook header_nav_mobile_logout_after.htm}-->
				</ul>
			</div>
		</div>
		
	</nav>
	
	<!--{hook header_nav_footer.htm}-->