<?php include "./view/htm/header.inc.htm"; ?>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="card card-block m-t-1">
			<h4 class="card-title">修改头像</h4>
			<div style="width: 60%; margin: auto;">
				<p class="text-center">
					<img id="avatar_img" class="avatar-lg" src="<?php echo $user['avatar_url'];?>">
				</p>
				<p class="text-center">
					<!--
					<label class="file">
						<input type="file" id="file">
						<span class="file-custom"></span>
					</label>
					-->
					<input type="file" id="avatar_upload" accept=".jpg,.jpeg,.png,.gif,.bmp"  class="upload" style="width: 200px; opacity: 0.7" value="更换头像"/>
				</p>
				<progress class="progress progress-success" value="0" max="100" id="avatar_progress">0%</progress>
			</div>
		</div>
		<a role="button" class="btn btn-secondary center-block" href="<?php echo url('my');?>"> <?php echo lang('back');?> </a>
	</div>
</div>

<?php include "./view/htm/footer.inc.htm"; ?>


<script src="view/js/async.js"></script>
<script src="view/js/upload.js"></script>

<script>
$('#avatar_upload').one('click', function() {
	var fileinput = this;
	var jfile = $(fileinput);
	var jimg = $('#avatar_img');
	var jprogress = $('#avatar_progress');
	var url = 'my-avatar.htm';
	var up = new FileUploader(fileinput, url);
	up.filetype = 'image/png';
	up.thumb_width = 128;
	up.onprogress = function(file, percent) {
		jprogress.val(percent);
	}
	up.ononce = function(file, e) {
		var json = xn.json_decode(e.target.response);
		if(json && json.code == 0) {
			$.alert('编辑成功');
			jimg.attr('src', json.message+'?'+Math.random());
		} else {
			var err = json && json.message ? json.message : e.target.response;
			$.alert(err);
		}
		setTimeout(function() {jprogress.val(0);}, 2000);
	}
	up.oncomplete = function(code, files) {
		if(code == 0) {
			//$.alert('ok');
		} else {
			//alert(code);
		}
	}
	up.onselected = function(files) {
		var file = files[0];
		jimg.srcLocalFile(file);
		if(!/^image/.test(file.type) || !/(.jpg|.jpeg|.gif|.png|.bmp)$/i.test(file.type)) {
			jfile.popover('只允许上传jpg、jpeg、gif、png格式的图片'); return;
		}
		up.start();
	}
	
	up.onerror = function(file, e) {
		var json = xn.json_decode(e.target.response);
		var err = json && json.message ? json.message : e.target.response;
		jfile.popover(err); return;
	}
	up.onabort = function(file, e) {}
	up.init();
});

</script>