		<ul class="nav nav-tabs card-header-tabs">
			<!--{hook my_nav_start.htm}-->
			<li class="nav-item">
				<a class="nav-link <?php echo $action == '' ? 'active' : '';?>" href="<?php echo url("my");?>"><?php echo lang('my_thread');?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link <?php echo $action == 'post' ? 'active' : '';?>" href="<?php echo url("my-post");?>"><?php echo lang('my_post');?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link <?php echo $action == 'password' ? 'active' : '';?>" href="<?php echo url("my-password");?>"><?php echo lang('modify_password');?></a>
			</li>
			<li class="nav-item">
				<a class="nav-link <?php echo $action == 'avatar' ? 'active' : '';?>" href="<?php echo url("my-avatar");?>"><?php echo lang('modify_avatar');?></a>
			</li>
			<!--{hook my_nav_end.htm}-->
		</ul>
		