		<div class="btn-group mb-3" role="group">
			<!--{hook my_nav_start.htm}-->
			<a role="button" class="btn btn-secondary<?php echo empty($active) ? ' active' : '';?>" href="<?php echo url('my'); ?>"><i class="icon-cog"></i> <?php echo lang('my_profile'); ?></a>
			<a role="button" class="btn btn-secondary<?php echo $active == 'password' ? ' active' : '';?>" href="<?php echo url('my-password'); ?>"><i class="icon-lock"></i> <?php echo lang('modify_password'); ?></a>
			<a role="button" class="btn btn-secondary<?php echo $active == 'avatar' ? ' active' : '';?>" href="<?php echo url('my-avatar'); ?>"><i class="icon-user"></i> <?php echo lang('modify_avatar'); ?></a>
			<a role="button" class="btn btn-secondary<?php echo $active == 'thread' ? ' active' : '';?>" href="<?php echo url('my-thread'); ?>"><i class="icon-comment"></i> <?php echo lang('my_post'); ?></a>
			<!--{hook my_nav_end.htm}-->
		</div>
