<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<!--{hook my_profile_start.htm}-->

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="card card-block m-t-1">
			<h4 class="card-title"><?php echo lang('my_profile');;?></h4>
			<div class="row">
				<div class="col-xs-12  col-sm-6 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('username');;?>：</dt>
						<dd class="text-right"><?php echo $user['username'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('email');;?>：</dt>
						<dd class="text-right"><?php echo $user['email'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('user_group');;?>：</dt>
						<dd class="text-right"><?php echo $user['groupname'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('create_date');;?>：</dt>
						<dd class="text-right"><?php echo $user['create_date_fmt'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('last_login_date');;?>：</dt>
						<dd class="text-right"><?php echo $user['login_date_fmt'];?></dd>
					</dl>
					<!--{hook my_profile_login_date_after.htm}-->
				</div>
				<div class="col-xs-12  col-sm-6 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('threads');;?>：</dt>
						<dd class="text-right"><?php echo $user['threads'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('posts');;?>：</dt>
						<dd class="text-right"><?php echo $user['posts'];?></dd>
					</dl>
					<!--{hook my_profile_posts_after.htm}-->
				</div>
			</div>
			<!--{hook my_profile_row_after.htm}-->
		</div>
		<!--{hook my_profile_card_after.htm}-->
		<a role="button" class="btn btn-secondary center-block" href="<?php echo url('my');?>"> <?php echo lang('back');?> </a>
		<!--{hook my_profile_back_after.htm}-->
	</div>
</div>

<!--{hook my_profile_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>