<?php include "./view/htm/header.inc.htm"; ?>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="card p-a-sm">
			<!--
			<img class="center-block m-t-0" data-src="holder.js/100%x180" alt="100%x180" src="view/img/avatar.png" width="50" height="50">
			<div class="text-center"><?php echo $user['username'];?></div>
			-->
			<h3>我参与的主题 (<?php echo $user['threads'];?>)</h3>
			<hr />
 			<table class="table table-hover threadlist">
				<tbody>
					<?php include './view/htm/thread_list.inc.htm';?>
				</tbody>
			</table>
		</div>
		<a role="button" class="btn btn-primary center-block" href="<?php echo url('my');?>"> <?php echo lang('back');?> </a>
	</div>
</div>

<?php include "./view/htm/footer.inc.htm"; ?>