<?php include "./view/htm/header.inc.htm"; ?>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="card card-block m-t-1">
			<h4 class="card-title"><?php echo lang('my_join_thread');?> (<?php echo $user['threads'];?>)</h4>
 			<table class="table table-hover threadlist">
				<tbody>
					<?php include './view/htm/thread_list.inc.htm';?>
				</tbody>
			</table>
		</div>
		
		<nav class="text-center"><ul class="pagination"><?php echo $pagination; ?></ul></nav>
		
		<a role="button" class="btn btn-secondary center-block" href="<?php echo url('my');?>"> <?php echo lang('back');?> </a>
	</div>
</div>

<?php include "./view/htm/footer.inc.htm"; ?>