					<?php foreach($postlist as $_post) { ?>
					<tr class="post">
						<td class="vtop td-avatar" aria-hidden="true">
							<a href="<?php echo url("user-$_post[uid]");?>" aria-hidden="true" tabindex="-1">
								<img class="avatar" src="<?php echo $_post['user_avatar_url'];?>">
							</a>
						</td>
						<td class="p-l-0">
							<dl class="row small text-muted">
								<dt>
									<span class="username text-muted">
										<a href="<?php echo url("user-$_post[uid]");?>"><?php echo $_post['username'];?></a>
									</span>
									<span class="date text-grey m-l-1"><?php echo $_post['create_date_fmt'];?></span>
								</dt>
								<dd class="text-right text-grey ">
									<?php if($allowupdate || $_post['allowupdate']) { ?>
									<a href="<?php echo url("post-update-$_post[pid]");?>" class="text-grey post_update m-r-1"><i class="icon-edit" aria-hidden="true"></i> <?php echo lang('edit');?></a>
									<?php } ?>
								
									<?php if($allowdelete || $_post['allowdelete']) { ?>
									<a href="<?php echo url("post-delete-$_post[pid]");?>" class="text-grey post_delete m-r-1"><i class="icon-remove" aria-hidden="true"></i> <?php echo lang('delete');?></a>
									<?php } ?>
									<span class="floor"><?php echo $_post['floor'];?></span> <?php echo lang('floor');?>
								</dd>
							</dl>
							<div class="message m-t-xs break-all">
							
								<?php echo $_post['message_fmt'];?>
								
								<?php echo post_file_list_html($_post['filelist']);?>
								
							</div>
						</td>
					</tr>
					<?php } ?>