					<?php foreach($threadlist as $_thread) { ?>
					<tr class="thread tap <?php echo $_thread['top_class'];?>" href="<?php echo url("thread-$_thread[tid]");?>">
						<?php if(forum_access_mod($_thread['fid'], $gid, 'allowtop')) { ?>
						<td class="td-checkbox">
							<input type="checkbox" name="modtid" class="m-t-sm" value="<?php echo $_thread['tid']; ?>" />
						</td>
						<?php } ?>
						<td class="td-avatar" aria-hidden="true">
							<a href="<?php echo url("user-$_thread[uid]");?>" aria-hidden="true" tabindex="-1">
								<img class="avatar" src="<?php echo $_thread['user_avatar_url'];?>">
							</a>
						</td>
						<td class="td-subject p-l-0">
							<div class="subject">
							
								<?php if($_thread['top'] > 0) { ?>
									<i class="icon-top-<?php echo $_thread['top']; ?>" aria-hidden="true"></i></i>
								<?php } ?>
								
								<a href="<?php echo url("thread-$_thread[tid]");?>"><?php echo $_thread['subject'];?></a>
								
								<?php if($_thread['files'] > 0) { ?><i class="icon small filetype other" aria-hidden="true"></i><?php } ?>
								
							</div>
							<dl class="row small">
								<dt>
									<a href="<?php echo url("user-$_thread[uid]");?>" class="username text-muted m-r-xs"><?php echo $_thread['username'];?></a>
									<span class="date text-grey"><?php echo $_thread['create_date_fmt'];?></span>
								</dt>
								<dd class="text-right text-grey">
									<span class="m-r-1"><i class="icon-eye-open"></i> <?php echo $_thread['views'];?></span>
									<span class="hidden-xs-down m-r-1"><i class="icon-comment"></i> <?php echo $_thread['posts'];?></span>
								</dd>
							</dl>
						</td>
						
					</tr>
					<?php } ?>