					<?php foreach($threadlist as $thread) { ?>
					<tr class="thread">
						<td class="avatar-parent" aria-hidden="true">
							<a href="<?php echo url("user-$thread[uid]");?>" aria-hidden="true">
								<img class="avatar" src="<?php echo $thread['user_avatar_url'];?>">
							</a>
						</td>
						<td class="p-l-0">
							<div class="subject">
								<a href="<?php echo url("thread-$thread[tid]");?>"><?php echo $thread['subject'];?></a>
							</div>
							<dl class="row small">
								<dt>
									<a href="<?php echo url("user-$thread[uid]");?>" class="username text-muted m-r-xs"><?php echo $thread['username'];?></a>
									<span class="date text-grey"><?php echo $thread['create_date_fmt'];?></span>
								</dt>
								<dd class="text-right text-grey">
									<span class="m-r-1"><i class="icon-eye-open"></i> <?php echo $thread['views'];?></span>
									<span class="hidden-xs-down"><i class="icon-comment"></i> <?php echo $thread['posts'];?></span>
								</dd>
							</dl>
						</td>
					</tr>
					<?php } ?>