<?php include "./view/htm/header.inc.htm"; ?>


<div class="row m-t-1">
	<div class="col-lg-8">
		<ol class="breadcrumb m-b-sm">
			<li><a href="#">Home</a></li>
			<li><a href="#">Library</a></li>
			<li class="active">Data</li>
		</ol>
		<div class="card p-a-1">
			<dl class="row">
				<dt class="vtop p-r-1"><img src="view/img/avatar.png" alt="..." width="50" height="50" class="img-circle center-block"></dt>
				<dd>
					<h3><?php echo $thread['subject'];?></h3>
					<dl class="row small">
						<dt><?php echo $thread['username'];?> <?php echo $thread['create_date_fmt'];?> </dt>
						<dd class="text-right">
							<a href="<?php echo url("thread-update-$thread[tid]");?>"><i class="icon-edit"></i> 编辑</a> &nbsp;
							<a href="<?php echo url("thread-delete-$thread[tid]");?>"><i class="icon-remove"></i> 删除</a>
						</dd>
					</dl>
				</dd>
			</dl>
			<hr></hr>
			<div class="message">
				<?php echo $first['message'];?>
			</div>
		</div>
		
		<div class="card post p-a-1">
			<table class="table table-hover threadlist">
				<thead>
					<tr>
						<th colspan="2" class="p-t-0 p-l-0">
							<dl class="row">
								<dt>
									<b>最新回复</b>(<?php echo $thread['posts'];?>)
								</dt>
								<dd>
								
								</dd>
							</dl>
						</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($postlist as $post) { ?>
					<tr class="thread">
						<td class="vtop avatar-parent"><img src="view/img/avatar.png" class="img-circle avatar"></td>
						<td class="p-l-0">
							<dl class="row small text-muted">
								<dt class="username">用户名</dt>
								<dd class="text-right floor">12楼</dd>
							</dl>
							<div class="message m-t-xs">发帖内容发帖内容发帖内容发帖内容发帖内容</div>
							<div class="small text-muted  m-t-xs date">1111-11-1</div>
						</td>
					</tr>
					<?php } ?>
					<tr class="thread">
						<td class="avatar-parent"><img src="view/img/avatar.png" class="img-circle avatar"></td>
						<td class="p-l-0">
							<form action="<?php echo url('thread-create');?>" method="post" id="form">	
								<dl class="row small text-muted">
									<dt class="username">用户名</dt>
									<dd class="text-right floor">12楼</dd>
								</dl>
								<div class="message m-t-xs">
									<fieldset class="form-group">
										<textarea class="form-control" placeholder="<?php echo lang('message');?>" name="message" id="message" style="height: 100px;"></textarea>
									</fieldset>
								</div>
								<div class="text-muted  m-t-xs date">
									<button type="submit" class="btn btn-primary" id="submit" data-loading-text="<?php echo lang('submiting');?>..."> <?php echo lang('post_create');?> </button>
								</div>
							</form>
						</td>
					</tr>
				
				</tbody>
			</table>
		</div>
		
	</div>
	<div class="col-lg-4">
		<div class="card  hidden-lg-down">
			<img class="center-block m-y-1" data-src="holder.js/100%x180" alt="100%x180" src="view/img/avatar.png" width="100" height="100">
			<h4 class="text-xs-center"><?php echo $thread['username'];?></h4>
			<div class="card-group card-group-nest">
				<div class="card">
					<div class="card-block">
						<div class="text-xs-center text-muted small">主题</div>
						<h5 class="text-xs-center">123</h5>
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<div class="text-xs-center text-muted small">回复</div>
						<h5 class="text-xs-center">234</h5>
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<div class="text-xs-center text-muted small">注册排名</div>
						<h5 class="text-xs-center">2</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-block">
				<h4>作者最近主题</h4>
				<ul>
					<li>版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容 - 2 天前</li>
					<li>版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容 - 2 天前</li>
					<li>版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容 - 2 天前</li>
					<li>版块公告内容版块公告内容版块公告内容版块公告内容版块公告内容 - 2 天前</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<?php include "./view/htm/footer.inc.htm"; ?>