					<?php foreach($threadlist as $thread) { ?>
					<tr class="thread">
						<td class="avatar-parent">
							<a href="<?php echo url("user-$thread[uid]");?>">
								<img class="avatar" src="<?php echo $thread['user_avatar_url'];?>">
							</a>
						</td>
						<td class="p-l-0">
							<div class="subject">
								<a href="<?php echo url("thread-$thread[tid]");?>"><?php echo $thread['subject'];?></a>
							</div>
							<div class="small text-muted hidden-sm-up m-b-xs"><?php echo $thread['username'];?></div>
							<dl class="row small">
								<dt>
									<a href="<?php echo url("user-$thread[uid]");?>" class="username text-muted hidden-xs-down m-r-1"><?php echo $thread['username'];?></a>
									<span class="date text-grey"><?php echo $thread['create_date_fmt'];?></span>
								</dt>
								<dd class="text-right text-grey">
									<i class="icon-eye-open"></i> <?php echo $thread['views'];?> &nbsp;
									<i class="icon-comment"></i> <?php echo $thread['posts'];?>
								</dd>
							</dl>
						</td>
					</tr>
					<?php } ?>