<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div class="card card-block m-t-1">
			<img class="avatar-lg center-block" src="<?php echo $_user['avatar_url'];?>">
			<h4 class="text-center"><?php echo $_user['username'];?></h4>
			<p class="text-center">[<?php echo $_user['groupname'];?>]</p>
			<hr />
			<div class="row">
				<div class="col-xs-12  col-sm-6 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('username');?>：</dt>
						<dd class="text-right"><?php echo $_user['username'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('email');?>：</dt>
						<dd class="text-right"><?php echo $_user['email'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('user_group');?>：</dt>
						<dd class="text-right"><?php echo $_user['groupname'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('create_date');?>：</dt>
						<dd class="text-right"><?php echo $_user['create_date_fmt'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('last_login_date');?>：</dt>
						<dd class="text-right"><?php echo $_user['login_date_fmt'];?></dd>
					</dl>
				</div>
				<div class="col-xs-12  col-sm-6 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('threads');?>：</dt>
						<dd class="text-right"><?php echo $_user['threads'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted"><?php echo lang('posts');?>：</dt>
						<dd class="text-right"><?php echo $_user['posts'];?></dd>
					</dl>
				</div>
			</div>
			<h4 class="card-title"><?php echo lang('user_joined_thread');?> (<?php echo $_user['threads'];?>)</h4>
 			<table class="table table-hover threadlist">
				<tbody>
					<?php include _include(APP_PATH.'view/htm/thread_list.inc.htm');?>
				</tbody>
			</table>
		</div>
		<nav class="text-center"><ul class="pagination"><?php echo $pagination; ?></ul></nav>
		　　
		<?php if(!empty($group['allowdeleteuser'])) { ?>
		<a role="button" class="btn btn-danger confirm btn-block" data-confirm-text="<?php echo lang('confirm_delete_user');?>" data-method="post" href="<?php echo url("mod-deleteuser-$_user[uid]");?>"><?php echo lang('delete_user');?></a>
		<?php } ?>
		
		<a role="button" class="btn btn-secondary center-block m-t-1" href="<?php echo url('my');?>"> <?php echo lang('back');?> </a>
		
		
	</div>
</div>

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<script>

</script>