<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<!--{hook user_start.htm}-->


<div class="row">
	<div class="col-lg-8 mx-auto">
	
		<?php include _include(APP_PATH.'view/htm/user_nav.inc.htm');?>
		
		<div class="card">
			<div class="card-body text-center">
			
				<img class="logo-4" src="<?php echo $_user['avatar_url'];?>">
				<h4 class="text-center"><?php echo $_user['username'];?></h4>
				<p class="text-center">[<?php echo $_user['groupname'];?>]</p>
				<hr />
				<div class="row text-left">
					<div class="col-sm-6">
						<p><span class="text-muted"><?php echo lang('username');?>：</span><span><?php echo $_user['username'];?></span></p>
						<?php if($gid == 1) { ?><p><span class="text-muted"><?php echo lang('email');?>：</span><span><?php echo $_user['email'];?></span></p>
						<?php } ?>
						<p><span class="text-muted"><?php echo lang('user_group');?>：</span><span><?php echo $_user['groupname'];?></span></p>
						<p><span class="text-muted"><?php echo lang('create_date');?>：</span><span><?php echo $_user['create_date_fmt'];?></span></p>
						<p><span class="text-muted"><?php echo lang('last_login_date');?>：</span><span><?php echo $_user['login_date_fmt'];?></span></p>
						<!--{hook user_login_date_after.htm}-->
					</div>
					<div class="col-sm-6">
						<p><span class="text-muted"><?php echo lang('threads');?>：</span><span><?php echo $_user['threads'];?></span></p>
						<p><span class="text-muted"><?php echo lang('posts');?>：</span><span><?php echo $_user['posts'];?></span></p>
						<!--{hook user_posts_after.htm}-->
					</div>
				</div>
			</div>
		</div>
		
		<?php if(!empty($group['allowdeleteuser'])) { ?>
			<a role="button" class="btn btn-danger confirm btn-block my-3" data-confirm-text="<?php echo lang('confirm_delete_user');?>" data-method="post" href="<?php echo url("mod-deleteuser-$_user[uid]");?>"><?php echo lang('delete_user');?></a>
		<?php } ?>
		<!--{hook user_delete_user_button_after.htm}-->
	</div>
</div>

<!--{hook user_end.htm}-->

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>

<!--{hook user_js.htm}-->
