/*
.nav-more {background: url(view/img/more.png) no-repeat center; opacity: 1; width: 22px; height: 38px;}
.nav-more:hover {opacity: 1;}
*/
/* fix bootstrap nav bg-inverse dropdown 未跟着改变 */

nav.bg-inverse .dropdown-menu {
	background-color: #373a3c;
	border: 1px solid #272a2c;
}
nav.bg-inverse .dropdown-item {
	color: rgba(255, 255, 255, 0.5);
}
nav.bg-inverse .dropdown-item:hover {
	background-color: #575a5c;
	color: rgba(255, 255, 255, 1);
}
html, body {height:100%; font-family:"Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "微软雅黑", "华文细黑", STHeiti, sans-serif}
body {background: #f4f4f4; }
#wrapper { min-height:100%; position:relative; }
#body { padding-bottom: 60px; }
#footer {
	font-size: 0.75rem;
	background: #eee;
	border-top: 1px solid #ddd;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
}


.threadlist {table-layout: fixed; margin-bottom: 0px}
.thread .subject {
	width: 100%; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	overflow: hidden; 
}
.thread .subject a { color: #373a3c;}

/* card 嵌套 card-group 的时候 */
.card-group-nest .card:first-child {border-left:0px; border-bottom: 0px; border-top-left-radius: 0}
.card-group-nest .card:last-child {border-right:0px; border-bottom: 0px; border-top-right-radius: 0}
.card-group-nest .card {border-bottom: 0px;}

.text-ellipsis {
	/*width: 100%;*/
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	overflow: hidden; 
}
