/********************************* bbs 业务部分 *************************************/


/*  ul, dl 多列定义，用来模拟简单的表格布局，如果不考虑响应，比 pull-left pull-right 方便  */
dl.row, ul.row { display: table; width: 100%; clear: both;}
dl.row, dl.row > dt, dl.row > dd, ul.row, ul.row > li {margin: 0px; padding: 0px;}
dl.row > dt, dl.row > dd, ul.row > li {display: table-cell; vertical-align: middle;}
dl.row > dt, dl.row > dd, ul.row > li {list-style: none; min-height: 1.6rem;}
dl.row > dt, dl.row > dd {width: auto; /* auto */}
dl.row > dt {font-weight: normal}

ul.row.vtop > li, ul.row > li.vtop {vertical-align: top;}
dl.row.vtop > dt, dl.row.vtop > dd, dl.row > dt.vtop, dl.row > dd.vtop {vertical-align: top;}
ul.row.vbottom > li, ul.row > li.vbottom {vertical-align: bottom;}
dl.row.vbottom > dt, dl.row.vbottom > dd, dl.row > dt.vbottom, dl.row > dd.vbottom {vertical-align: bottom;}


/* 导航栏半透明背景 */
.navbar.bg-inverse { background-color: rgba(5, 6, 9, 0.8); }

#nav_pc { font-size: 0.85rem;}
#nav_mobile a {color: #aab;}
#nav_mobile a:hover {color: #fff;}

/* bbs 全局定义 */
html, body {height:100%; font-family:"Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "微软雅黑", "华文细黑", STHeiti, sans-serif}
body {background: #f4f4f4; }
a {color: #373a3c;}
a:hover {color: #0000ff;}
#wrapper { min-height:100%; position:relative; }
#body { padding-bottom: 3rem; padding-top: 3.8rem;}
#footer {
	font-size: 0.75rem;
	background: #eee;
	border-top: 1px solid #ddd;
	width:100%;
	height: 3rem;
	position:absolute;
	bottom:0;
	left:0;
}
#footer dl {margin-top: 0.8rem;}

.threadlist {/*table-layout: fixed; */margin-bottom: 0px}
.threadlist th {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.thread .subject {
	/*
	width: 100%; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	overflow: hidden; */
	word-break: break-all;
	margin-bottom: 0.2rem;
}
dl.row > dt.td-avatar, .table .td-avatar { width: 3.0rem; padding: 0.3rem;}
.avatar-xs { width: 1.3rem; height: 1.3rem; border-radius: 1.3rem;}
.avatar-sm { width: 1.6rem; height: 1.6rem; border-radius: 1.6rem;}
.avatar { width: 2.4rem; height: 2.4rem;  border-radius: 2.4rem;}
.avatar-lg { width: 6rem; height: 6rem; border-radius: 6rem;}

/* bootstrap 4 默认间距太大，缩小一些 */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  padding-right: .37rem;
  padding-left: .37rem;
}

/* 自定义更多 */
.dropdown-toggle::after {width: 22px; height: 16px; background: url(../img/more.png); opacity: 0.5; border: 0; }
.dropdown-toggle:hover::after {opacity: 1;  }
.breadcrumb {background: #fff; border: 1px solid #e5e5e5; font-size: 95%; padding: 0.5rem 1rem;}
.logo-xs {width: 1.3rem; height: 1.3rem; }
.logo-sm {width: 1.8rem; height: 1.8rem; margin-top: 0.1rem}

.table td {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.table td.td-checkbox {width: 0.5rem; padding: 0.2rem;}
.icon-2x { font-size: 1.5em; }

@media (max-width: 768px) {
	.card-block {padding: 0.5rem;}
	.table td.td-checkbox {width: 0.5rem; padding: 0.2rem;}
	.table td.td-avatar {width: 2rem; padding: 0.2rem; padding-right: 0.4rem;}
	.avatar { width: 2.0rem; height: 2.0rem;  border-radius: 2.0rem;}
}
@media (min-width: 992px) {
	div.card.p-a-sm {padding: 0.8rem !important;}
}





/*  bbs */
.addattach { cursor: pointer; height: 1.5rem; display: block; position: relative;}
.addattach:hover { font-weight: 800; }
.addattach input[type="file"]{ width: 5rem; height: 1.5rem; position: absoulte; left: 0; top: 0; opacity: 0;}

/* 附件图标 */
.icon.filetype {width: 1rem; height: 1rem; display: inline-block; background-size: 1rem; background-repeat: no-repeat; vertical-align: middle;}
.icon.filetype.small { background-size: 16px; width: 16px; height: 16px;}
.icon.filetype.video {background-image: url(../img/filetype/video.png)}
.icon.filetype.music:before {content: ""}
.icon.filetype.music {background-image: url(../img/filetype/music.png) }
.icon.filetype.exe {background-image: url(../img/filetype/exe.png) }
.icon.filetype.flash {background-image: url(../img/filetype/flash.png) }
.icon.filetype.image:before {content: ""}
.icon.filetype.image {background-image: url(../img/filetype/image.png)}
.icon.filetype.office {background-image: url(../img/filetype/office.png) }
.icon.filetype.pdf {background-image: url(../img/filetype/pdf.png) }
.icon.filetype.text {background-image: url(../img/filetype/text.png) }
.icon.filetype.unknown {background-image: url(../img/filetype/text.png) }
.icon.filetype.zip {background-image: url(../img/filetype/zip.png) }
.icon.filetype.other {background-image: url(../img/filetype/other.png) }
.icon.filetype.book {background-image: url(../img/filetype/book.png) }
.icon.filetype.torrent {background-image: url(../img/filetype/torrent.png) }
.icon.filetype.font {background-image: url(../img/filetype/font.png) }

[class^="icon-top-"]:before { content: "\f024"; }
.icon-top-1 { color: #FF8800; }
.icon-top-2 { color: #FF8800; }
.icon-top-3 { color: #DA24A7; }

#nav_mobile .nav-item {padding: 0.5rem}
#nav_mobile .nav-item:hover {background: #444446;}

#message {height: 2.4rem; transition: height 0.2s;}


/* fix dropmenu not pop over, but scroll style */
#header .collapse {overflow: inherit;}

/* 靠的太远 */
/*.navbar-nav .nav-item + .nav-item.username { margin-left: 0.3rem; }*/

/*
.nowrap { 
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	overflow: hidden;
}
*/

/* 翻页使用 bootstrap 4 自带的 pagination
.active {font-weight: 800}
.page {padding-top: 8px; overflow: visible; clear: both; text-align: center; line-height: 1;}
.page a, .page a.active{display: inline-block; padding: 5px 8px; margin-right: 2px; border: 1px solid #49535E; color: #E9E9E9; -webkit-border-radius: 12px; border-radius: 12px; background: #555; text-decoration: none}
.page a:hover, .page a.active{color: #E9E9E9;  background: #000;}
*/

table.nav_tag_list {margin-bottom: 0.2rem;}
table.nav_tag_list td {padding: 0.1rem;}
table.nav_tag_list td a{margin-right: 0.5rem;}
.nav_tag_list .active {font-weight: 800;}
.message p {margin: 0.2rem 0;}
