

/* propover */
.arrow {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: " ";
	border-width: 8px;
	box-sizing: border-box;
}
.arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: " ";
	border-width: 7px;
	box-sizing: border-box;
}
.arrow.top {
	bottom: -15px;
	left: 10px;
	border-top-color: #820000;
}
.arrow.top:after {
	top: -8px;
	left: -7px;
	border-top-color: #FF5757;
	border-bottom-width: 0;
}
.arrow.bottom {
	top: -15px;
	left: 10px;
	border-bottom-color: #820000;
}
.arrow.bottom:after {
	top: 1px;
	left: -7px;
	border-bottom-color: #FF5757;
	border-top-width: 0;
}
.arrow.left {
	top: 4px;
	right: -15px;
	border-left-color: #820000;
}
.arrow.left:after {
	top: -7px;
	left: -8px;
	border-left-color: #FF5757;
	border-right-width: 0;
}
.arrow.right {
	top: 4px;
	left: -15px;
	border-right-color: #820000;
}
.arrow.right:after {
	top: -7px;
	left: 1px;
	border-right-color: #FF5757;
	border-left-width: 0;
}
.popover {
	/*width: 300px;
	height: 24px;*/
	line-height: 24px;
	padding-left: 4px; padding-right: 4px;
	background: #FF5757;
	border: 1px solid #820000;
	position: absolute;
	color: #FFFFFF;
	border-radius: 3px;
	font-size: 12px;
	font-weight: normal;
	z-index: 2000;
}
.popover.color_yellow {
	/*width: 300px;
	height: 24px;*/
	background: #fff6d9;
	border: 1px solid #DCAC6C;
	color: #000000;
}
.popover.color_yellow > span.arrow.top {border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.top:after {border-bottom-color: #fff6d9;}
.popover.color_yellow > span.arrow.left {border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.left:after {border-bottom-color: #fff6d9;}
.popover.color_yellow > span.arrow.right {border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.right:after {border-bottom-color: #fff6d9;}
.popover.color_yellow > span.arrow.bottom {border-bottom-color: #DCAC6C;}
.popover.color_yellow > span.arrow.bottom:after {border-bottom-color: #fff6d9;}
