<?php include "./pc/view/header.inc.htm"; ?>
	
<div class="panel width" id="threadlist_panel">
	<div class="header">
		<table class="layout">
			<tr>
				<td>
					<?php if($order == 'tid') { ?>最新主题<?php } ?>
					<?php if($order == 'lastpid') { ?>最新回复<?php } ?>
					<?php if($order == 'agrees') { ?>最多喜欢<?php } ?>
				</td>
				<td id="threadlist_orderby" align="right" class="normal">
					<span class="grey">排序：</span>							
					<a href="forum-<?php echo $fid; ?>-<?php echo $page; ?>-lastpid.htm" nofollow <?php echo ($order == 'lastpid' ? 'class="active"' : ''); ?>><span class="icon comments" title="回帖时间"></span>回帖时间</a>
					<a href="forum-<?php echo $fid; ?>-<?php echo $page; ?>-tid.htm" nofollow <?php echo ($order == 'tid' ? 'class="active"' : ''); ?>><span class="icon comment<?php echo ($order == 'tid' ? ' active' : ''); ?>" title="发帖时间"></span>发帖时间</a>
					<a href="forum-<?php echo $fid; ?>-<?php echo $page; ?>-agrees.htm" nofollow <?php echo ($order == 'agrees' ? 'class="active"' : ''); ?>><span class="icon heart<?php echo ($order == 'agrees' ? ' active' : ''); ?>" title="被喜欢数"></span>喜欢数</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="body">
		<div id="threadlist">
			<?php include "./pc/view/thread_list_body.inc.htm"; ?>
		</div>
	</div>
</div>

<?php if(forum_is_mod($fid, $gid, $uid)) { ?>
<dl class="row margin">
	<dt class="right col-6">
		<button class="grey small" id="mod_top">置顶</button>
		<button class="grey small" id="mod_move">移动</button>
		<button class="grey small" id="mod_delete">删除</button>
	</dt>
	<dt class="right col-4">
		<label>全选<input type="checkbox" name="checkall" id="threadlist_checkall" value="" />&nbsp;</label>
	</dt>
</dl>
<?php } ?>

<?php if(!empty($pages)) { ?>
<div class="page"><?php echo $pages; ?></div>
<?php } ?>


<div class="panel">
	<div class="header">
		【<?php echo $forum['name']; ?>】
	</div>
	<div class="body">
		<div>
			<i>主题数：</i><b><?php echo $forum['threads']; ?></b>  　
			<i>今日回帖数：</i><b class="blue"><?php echo $forum['todayposts']; ?></b>  　
			<i>今日主题数：</i><b class="blue"><?php echo $forum['todaythreads']; ?></b>  　
			
			<?php if($forum['modlist']) { ?>
			　<i>版主：</i> 
			<?php foreach ($forum['modlist'] as $mod) { ?>
			<a href="user-<?php echo $mod['uid']; ?>.htm" target="_blank">
				<?php echo $mod['username']; ?>
			</a>
			<?php } ?>
			<?php } ?>
		</div>
		<p class="hr" style="margin-top: 4px; margin-bottom: 4px;"></p>
		<?php if($forum['brief']) { ?>
		<div><?php echo $forum['brief']; ?></div>
		<?php } ?>
	</div>
</div>

<?php if($onlinelist) { ?>
<div class="panel">
	<div class="header">本版在线 <?php echo max(1, count($onlinelist)); ?> 人，总共在线：<?php echo $runtime['onlines']; ?> 人</div>
	<div class="body grey">
	<?php foreach ($onlinelist as $online) { ?>
		<?php if($online['uid']) { ?>
		<a href="user-<?php echo $online['uid']; ?>.htm" target="_blank"><?php echo $online['username']; ?></a>
		<?php } else { ?>
		游客
		<?php } ?>
	<?php } ?>
	</div>
</div>
<?php } ?>

<?php include "./pc/view/footer.inc.htm"; ?>

<script>
render_threadlist();
thread_list_script();
forumlist_active(fid);
document_scroll_top();
</script>