<?php include "./pc/view/my_header.inc.htm"; ?>

<table class="tlist margin" width="100%">
	<tr align="center">
		<th align="left">主题</th>
		<th width="100">最后回复</th>
	</tr>
	<?php foreach ($threadlist as $thread) { ?>
	<tr align="center">
		<td align="left" class="breakall"><a href="<?php echo $thread['url']; ?>"><?php echo $thread['subject']; ?></a></td>
		<td><a href="user-<?php echo $thread['lastuid']; ?>.htm" ><?php echo $thread['lastusername']; ?></a></td>
	</tr>
	<?php } ?>
</table>

<div class="page"><?php echo $pages; ?></div>

<?php include "./pc/view/my_footer.inc.htm"; ?>

<script>
$('#my_profile_menu').find('a').eq(2).class_active();
</script>