
<?php foreach($postlist as $_post) { ?>
	<dl class="row vtop" pid="<?php echo $_post['pid']; ?>">
		<dt>
			<a href="<?php echo $_post['user_url']; ?>" target="_blank" class="author">
				<img src="<?php echo $_post['user_avatar_url']; ?>" class="avatar" />
			</a>
		</dt>
		<dd>
			<dl class="row">
				<dt class="left small">
					<b class="grey">
						<a href="<?php echo $_post['user_url']; ?>"><?php echo $_post['username']; ?></a>
					</b>　
					<i class="grey"><?php echo $_post['create_date_fmt']; ?></i>
				</dt>
				<dd class="right grey">
					
					
				<?php if($allowupdate || $_post['allowupdate']) { ?>
					<a href="post-update-<?php echo $_post['pid']; ?>.htm" title="编辑"><i class="icon edit"></i></a>
				<?php } ?>
				
				<?php if($allowdelete || $_post['allowdelete']) { ?>
					<a href="post-delete-<?php echo $_post['pid']; ?>.htm" class="delete" title="删除"><i class="icon trash-o"></i></a>
				　<?php } ?>

					<span class="floor"><?php echo $_post['floor']; ?></span>
					
				</dd>
			</dl>
			<div class="post" pid="<?php echo $_post['pid']; ?>">
				<?php echo $_post['message']; ?> 
			</div>
		</dd>
	</dl>
<?php } ?>
