<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta user-scalable="no" content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
	<base href="<?php echo APP_PATH; ?>">
	<title><?php echo $header['title']; ?></title>
	<script>if(typeof FormData == 'undefined') window.location = '/browser.htm';</script>
	<link rel="stylesheet" type="text/css" href="xiunoui/xiuno.css" />
	<link rel="stylesheet" type="text/css" href="xiunoui/icon.css" />
	<link rel="stylesheet" type="text/css" href="admin/view/admin.css" />
	<script>var debug = <?php echo DEBUG; ?>;</script>
</head>
<body>