<div>
	<h3>设置</h3>
	<a href="admin/setting-base.htm">基本</a>
	
	<a href="admin/smtp-list.htm">SMTP</a>
</div>
<div>
	<h3>板块</h3>
	<a href="admin/forum-list.htm">板块管理</a>
</div>
<div>
	<h3>用户</h3>
	<a href="admin/group-list.htm">用户组管理</a>
	<a href="admin/user-list.htm">用户管理</a>
	<a href="admin/user-create.htm">添加用户</a>
</div>
<div>
	<h3>文章</h3>
	<a href="admin/article-list.htm">文章管理</a>
	<a href="admin/article-create.htm">添加文章</a>
</div>
<div>
	<h3>其他</h3>
	<a href="admin/cache-clear.htm">清理缓存</a>
	<a href="admin/banip.htm">禁止 IP</a>
	<a href="admin/ip.htm">IP 限制</a>
	<a href="admin/badword.htm">关键词过滤</a>
	<a href="admin/friendlink-list.htm">友情链接</a>
</div>
<div>
	<h3>插件</h3>
	<a href="admin/plugin-local_list.htm">本地插件</a>
	<a href="admin/plugin-official_list.htm">官方插件</a>
	<a href="http://bbs.xiuno.com/" target="_blank">官方交流（外部连接）</a>
</div>