<?php include "./mobile/view/user_header.inc.htm"; ?>

<?php if($_uid > 0) { ?>

	<div class="panel_body margin">
		<dl class="row form">
			<dt class="col-2">用户名：</dt><dd class="col-8"><?php echo $_user['username']; ?></dd>
			<dt class="col-2">用户组：</dt><dd class="col-8"><?php echo $_user['groupname']; ?></dd>
		</dl>
		<p class="hr"></p>
		<dl class="row form">
			<?php if($group['allowviewip']) { ?>
			<dt class="col-2">Email：</dt><dd class="col-8"><?php echo $_user['email']; ?></dd>
			<dt class="col-2">注册IP：</dt><dd class="col-8"><?php echo $_user['create_ip_fmt']; ?></dd>
			<?php } ?>	
		</dl>
		<p class="hr"></p>
		<dl class="row form">
			<dt class="col-2">主题：</dt><dd class="col-8"><?php echo $_user['threads']; ?></dd>
			<dt class="col-2">帖子：</dt><dd class="col-8"><?php echo $_user['posts']; ?></dd>
			<dt class="col-2">被喜欢：</dt><dd class="col-8"><?php echo $_user['agrees']; ?></dd>
		</dl>
		<p class="hr"></p>
		<p class="center margin">
			<?php if(!empty($group['allowbanuser'])) { ?>
			<select id="day_<?php echo $_ip_url; ?>">
				<option value="1">一天</option>
				<option value="3">三天</option>
				<option value="7">一周</option>
				<option value="30">一月</option>
				<option value="365">一年</option>
				<option value="0">永久禁止</option>
				<option value="-1">解除禁止</option>
			</select> &nbsp;
			<button class="red middle cancel" id="user_banip_<?php echo $_ip_url; ?>">禁止/解除注册 IP</button>
			<?php } ?>
			　　
			<?php if(!empty($group['allowdeleteuser'])) { ?>
			<button class="red middle cancel" id="user_delete_<?php echo $_uid; ?>">删除用户</button>
			<?php } ?>
		</p>
	</div>
	
<!-- 游客: 禁止IP -->
<?php } else { ?>
	
	<dl class="row vtop margin">
		<dt style="width: 35%;" class="center">
			<img src="<?php echo $_user['avatar_url']; ?>" class="avatar big" /><br>
		</dt>
		<dd style="width: 65%;">
			<ul class="row vtop profile">
				<li>
					<p>用户名：<b><?php echo $_user['username']; ?></b></p>
					<p>用户组：<?php echo $_user['groupname']; ?></p>
					<?php if($group['allowviewip']) { ?>
					<p>IP：<?php echo $_ip; ?> <?php echo ($banip ? '[已禁止，截止日期：'.$banip['expiry_fmt'].']' : ''); ?></p>
					<?php } ?>
				</li>
			</ul>
			
		</dd>
	</dl>
	<p class="center">
		<?php if(!empty($group['allowbanuser'])) { ?>
		<select id="day_<?php echo $_ip_url; ?>" style="margin-left: -50px;">
			<option value="1">一天</option>
			<option value="3">三天</option>
			<option value="7">一周</option>
			<option value="30">一月</option>
			<option value="365">一年</option>
			<option value="0">永久禁止</option>
			<option value="-1">解除禁止</option>
		</select> &nbsp;
		<button class="red middle cancel" id="user_banip_<?php echo $_ip_url; ?>">禁止/解除 IP</button>
		<?php } ?>
	</p>
<?php } ?>

<?php include "./mobile/view/user_footer.inc.htm"; ?>

<script>

// 删除用户
var jsubmit = $('#user_delete_<?php echo $_uid; ?>');
jsubmit.off('click').on('click', function() {
	if(window.confirm('确定删除用户吗？')) {
		// 这里可能需要调用多次才能彻底删除用户。考虑超时。
		$.xpost('mod-deleteuser-<?php echo $_uid; ?>.htm', function(code, message) {
			if(code == 0) {
				jsubmit.button(message);
				setTimeout(function() {window.location.reload();}, 500);
			} else {
				$.alert(message);
				jsubmit.button('reset');
			}
		});
	}
});

// 禁止 ip
var jbansubmit = $('#user_banip_<?php echo $_ip_url; ?>');
var jday = $('#day_<?php echo $_ip_url; ?>');
jbansubmit.off('click').on('click', function() {
	// 这里可能需要调用多次才能彻底删除用户。考虑超时。
	$.xpost('mod-banip-<?php echo $_ip_url; ?>-'+xn_urlencode(jday.val())+'.htm', function(code, message) {
		if(code == 0) {
			jbansubmit.button(message);
			setTimeout(function() {window.location.reload();}, 500);
		} else {
			$.alert(message);
			jbansubmit.button('reset');
		}
	});
});
$('#user_menu').find('a').eq(0).class_active();

</script>