<?php include './admin/view/header.inc.htm'; ?>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<h3>后台首页</h3>
		<hr />
		<div class="card card-block m-t-1">
			<h3>站点统计信息</h3>
			<hr />
			<div class="row">
				<div class="col-md-4 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted">用户名：</dt>
						<dd class="text-right">张三</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">Email：</dt>
						<dd class="text-right">xxxx@xxxxx.com</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">用户组：</dt>
						<dd class="text-right"><?php echo $user['groupname'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">注册时间：</dt>
						<dd class="text-right">2015-1-12</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">最后登录：</dt>
						<dd class="text-right">2015-1-12</dd>
					</dl>
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted">主题：</dt>
						<dd class="text-right">123</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">回复：</dt>
						<dd class="text-right">2345</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">精华：</dt>
						<dd class="text-right">12</dd>
					</dl>
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted">主题：</dt>
						<dd class="text-right">123</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">回复：</dt>
						<dd class="text-right">2345</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">精华：</dt>
						<dd class="text-right">12</dd>
					</dl>
				</div>
			</div>
		</div>
		
		<div class="card card-block m-t-1">
			<h3>服务器信息</h3>
			<hr />
			<div class="row">
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted">用户名：</dt>
						<dd class="text-right">张三</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">Email：</dt>
						<dd class="text-right">xxxx@xxxxx.com</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">用户组：</dt>
						<dd class="text-right"><?php echo $user['groupname'];?></dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">注册时间：</dt>
						<dd class="text-right">2015-1-12</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">最后登录：</dt>
						<dd class="text-right">2015-1-12</dd>
					</dl>
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted">主题：</dt>
						<dd class="text-right">123</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">回复：</dt>
						<dd class="text-right">2345</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">精华：</dt>
						<dd class="text-right">12</dd>
					</dl>
				</div>
				<div class="col-md-4 m-b-1 p-l-2 p-r-2">
					<dl class="row m-b-1">
						<dt class="text-muted">主题：</dt>
						<dd class="text-right">123</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">回复：</dt>
						<dd class="text-right">2345</dd>
					</dl>
					<dl class="row m-b-1">
						<dt class="text-muted">精华：</dt>
						<dd class="text-right">12</dd>
					</dl>
				</div>
			</div>
		</div>
		<a role="button" class="btn btn-primary center-block hidden-md-up" href="<?php echo url('my');?>"> <?php echo lang('back');?> </a>
	</div>
</div>

<?php include './admin/view/footer.inc.htm'; ?>

<?php echo $lastversion; ?>