<?php include './admin/view/header.inc.htm'; ?>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="btn-group m-b-1" role="group">
			<?php echo bootstrap_tab_active($menu['setting']['tab'], 'smtp');?>
		</div>
		<div class="card">
			<div class="card-block">
				<form action="admin/<?php echo url('setting-smtp');?>" method="post" id="form">
					<h4 class="card-title"><?php echo lang('admin_user_group');?></h4>
					<div class="table-responsive arrlist">
						<table class="table"  style="min-width: 800px">
							<thead>
								<tr align="center">
									<th>用户组名</th>
									<th>主机</th>
									<th width="100" class="text-center">端口</th>
									<th class="text-center">账号</th>
									<th class="text-center">密码</th>
									<th class="text-center">删除</th>
								</tr>
							<thead>
							<tbody>
								<?php foreach($smtplist as $rowid=>$smtp) { ?>
								<tr align="center" rowid="<?php echo $rowid; ?>">
									<td><input type="text" class="form-control" name="email[]" value="<?php echo $smtp['email']; ?>" placeholder="Email" /></td>
									<td><input type="text" class="form-control" name="host[]" value="<?php echo $smtp['host']; ?>"  placeholder="主机" /></td>
									<td><input type="text" class="form-control" name="port[]" value="<?php echo $smtp['port']; ?>" placeholder="端口"/></td>
									<td><input type="text" class="form-control" name="user[]" value="<?php echo $smtp['user']; ?>" placeholder="用户名"  /></td>
									<td><input type="text" class="form-control" name="pass[]" value="<?php echo $smtp['pass']; ?>" placeholder="密码"  /></td>
									<td><a class="btn row_delete" role="btn">删除</a></td>
								</tr>
								<?php } ?>
							</tbody>
						</table>
					</div>
					<p><a role="button" class="btn row_add">[+]增加一行</a></p>
					<p class="text-center">
						<button type="submit" class="btn btn-primary" id="submit" data-loading-text="<?php echo lang('submiting');?>..." style="width: 10rem;"><?php echo lang('confirm');?></button>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>

<?php include './admin/view/footer.inc.htm'; ?>

<script>

var jform = $("#form");
var jsubmit = $("#submit");
jform.on('submit', function(){
	var postdata = jform.serialize();
	jsubmit.button('loading');
	$.xpost(jform.attr('action'), postdata, function(code, message) {
		if(code == 0) {
			$.alert(message);
			jsubmit.text(message);
			setTimeout(function(){ jsubmit.button('reset'); }, 1000);
			return;
		} else {
			alert(message);
			jsubmit.button('reset');
		}
	});
	return false;
});

// 删除
var jarrlist = $('.arrlist');
var jdelete = $('a.row_delete');
jarrlist.on('click', 'a.row_delete', function() {
	var jthis = $(this);
	var jtr = jthis.parents('tr');
	var rowid = jtr.attr('rowid');
	jtr.remove();
	return false;
});
// 增加
var jadd = $('a.row_add');
jadd.on('click', function() {
	var jclone = jarrlist.find('tr').last().clone();
	jclone.insertAfter(jarrlist.find('tr').last());
	return false;
});


$('#nav_pc li.setting').tab('show');
$('#nav_mobile li.setting').tab('show');

</script>