<?php include './admin/view/header.inc.htm'; ?>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="btn-group m-b-1" role="group">
			<?php echo bootstrap_tab_active($menu['user']['tab'], 'group');?>
		</div>
		<div class="card">
			<div class="card-block">
				<form action="admin/<?php echo url('user-group');?>" method="post" id="form">
					<h4 class="card-title"><?php echo lang('admin_user_group');?></h4>
					<h5 class="card-title">用户组列表</h5>
					<div class="table-responsive arrlist">
						<table class="table" style="min-width: 800px">
							<thead>
								<tr>
									<th width="100"  class="text-center">用户组ID</th>
									<th>用户组名称</th>
									<th class="text-center">起始积分</th>
									<th class="text-center">结束积分</th>
									<th class="text-center">编辑</th>
									<th class="text-center">删除</th>
								</tr>
							<thead>
							<tbody>
								<?php foreach($grouplist as $_gid=>$_group) { ?>
								<tr align="center" rowid="<?php echo $_gid; ?>">
									<td class="50"><input type="text" class="form-control" name="_gid[]" value="<?php echo $_group['gid']; ?>"  placeholder="用户组ID" /></td>
									<td><input type="text" class="form-control" name="name[]" value="<?php echo $_group['name']; ?>" placeholder="用户组名称" /></td>
									<td><input type="text" class="form-control" name="creditsfrom[]" value="<?php echo $_group['creditsfrom']; ?>" placeholder="开始积分"/></td>
									<td><input type="text" class="form-control" name="creditsto[]" value="<?php echo $_group['creditsto']; ?>" placeholder="结束积分"  /></td>
									<td><a class="btn row_edit" role="btn">编辑</a></td>
									<td><a class="btn row_delete" role="btn">删除</a></td>
								</tr>
								<?php } ?>
							</tbody>
						</table>
					</div>
					<p><a role="button" class="btn row_add">[+]增加一行</a></p>
					<p class="text-center">
						<button type="submit" class="btn btn-primary" id="submit" data-loading-text="<?php echo lang('submiting');?>..." style="width: 10rem;"><?php echo lang('confirm');?></button>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>

<?php include './admin/view/footer.inc.htm'; ?>

<script>

var jform = $("#form");
var jsubmit = $("#submit");
jform.on('submit', function(){
	var postdata = jform.serialize();
	jsubmit.button('loading');
	$.xpost(jform.attr('action'), postdata, function(code, message) {
		if(code == 0) {
			jsubmit.text(message);
			setTimeout(function(){ jsubmit.button('reset'); }, 1000);
			return;
		} else {
			alert(message);
			jsubmit.button('reset');
		}
	});
	return false;
});

// 删除
var jarrlist = $('.arrlist');
var jdelete = $('a.row_delete');
jarrlist.on('click', 'a.row_delete', function() {
	var jthis = $(this);
	var jtr = jthis.parents('tr');
	var rowid = jtr.attr('rowid');
	jtr.remove();
	return false;
});
// 增加
var jadd = $('a.row_add');
jadd.on('click', function() {
	var jclone = jarrlist.find('tr').last().clone();
	jclone.insertAfter(jarrlist.find('tr').last());
	return false;
});


$('#nav_pc li.user').tab('show');
$('#nav_mobile li.user').tab('show');

</script>