<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="XiunoPHP 4.0" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title>Demo</title>
	
	<link rel="shortcut icon" href="view/img/favicon.ico" />
	<link rel="icon" sizes="32x32" href="view/img/favicon.ico">
	<link rel="Bookmark" href="view/img/favicon.ico" />
	<link rel="stylesheet" href="view/css/bootstrap.css">
	<link rel="stylesheet" href="view/css/bootstrap-xiuno.css">
	<link rel="stylesheet" href="view/css/font-awesome.css">
	<link rel="stylesheet" href="view/css/tether.css">
</head>

<body>
	<nav class="navbar navbar-dark bg-inverse navbar-full">
		<div class="container collapse navbar-toggleable-md">
			<ul class="nav navbar-nav">
				
				<!-- 前台首页 -->
				<li class="nav-item home" fid="0"><a class="nav-link" href="./">首页</a></li>
				<li class="nav-item home" fid="0"><a class="nav-link" href="<?php echo url('test');?>">测试</a></li>
				
			</ul>
		</div>
	</nav>
	
	<div class="container">