	</div>
</div>

<div id="footer" class="width">
	<p class="center margin">
		© 2008-2016 <a href="http://bbs.xiuno.com/" target="_blank">Xiuno.com</a><br>
		<?php echo $conf['sitename']; ?> Inc, All rights reserved. Process:<?php echo substr(microtime(1) - $starttime, 0, 7);?>s
	</p>
</div>

<script src="../xiunoui/zepto.js"></script>
<script src="../xiunoui/xiuno.js"></script>
<script src="../xiunoui/dialog.js"></script>
<script src="../xiunoui/md5.js"></script>
<script src="../static/bbs.js"></script>
<script src="../pc/view/pc.js"></script>

</body>
</html>