<!DOCTYPE html>
<html>
<head>
	<meta content="True" name="HandheldFriendly">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="XiunoBBS 3.0" />
	<title>XiunoBBS 3.0 安装向导 - Powered by Xiuno</title>
	<link rel="shortcut icon" href="../static/favicon.ico" />
	<link rel="icon" sizes="32x32" href="../static/favicon.ico">
	<link rel="Bookmark" href="../static/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="screen" href="../xiunoui/xiuno.css" />
	<link rel="stylesheet" type="text/css" href="../xiunoui/icon.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../static/bbs.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../pc/view/pc.css" />
	<script>var debug = <?php echo DEBUG; ?>;</script>
</style>
</head>

<body>


<div id="header">
	<table class="layout width">
		<tr>
			<td valign="top">
				<a href="../"><img src="../static/logo.png" align="top" class="logo" /></a>
			</td>
			<td>
			</td>
			<td align="right">
				<div class="grey">
					安装向导
				</div>
			</td>
		</tr>
	</table>
</div>

<div id="body">
	<div class="width">