<?php include "./install/view/header.inc.htm"; ?>

<h3>一、安装环境检测</h3>

<div class="list">
	<table class="panel tborder" width="100%">
		<tr align="center">
			<th align="left"><b>网站运行环境检测</b></th>
			<th>要求</th>
			<th>当前</th>
			<th>检测结果</th>
		</tr>
	<?php foreach($env as $v) { ?>
		<tr>
			<td><?php echo $v['name'];?></td>
			<td align="center"><?php echo $v['need'];?></td>
			<td align="center"><b><?php echo $v['current'];?></b></td>
			<td align="center">
			<?php if($v['status'] == 1) { ?>
				<div class="ok"><b class="icon check green"></b>通过</div>
			<?php } elseif($v['status'] == 2) { ?>
				<div class="warn"><i class="icon check yellow" title="不是最理想的环境"></i>通过</div>
			<?php } elseif($v['status'] == 0) { $succeed = 0; ?>
				<div class="error"><b class="icon close red"></b>未通过</div>
			<?php } ?>
			</td>
		</tr>
	<?php } ?>
	
	</table>
</div>

<div class="center margin">
	<button class="blue big" onClick="window.location='index.php?0=step1'">重新检测</button>
<?php if($succeed) {?>
	<button class="blue big" onClick="window.location='index.php?0=step2'">下一步</button>
<?php } else { ?>
	<button class="grey big" disabled="disabled">下一步</button>
<?php } ?>
</div>

<?php include "./install/view/footer.inc.htm"; ?>
