<?php include "./install/view/header.inc.htm"; ?>


<h3>四、安装已然进行完毕</h3>
<div class="panel_body">
	<div class="center">
		<br>
		<span class="icon check green" style="font-size: 56px;"></span>
		<div>
			<b style="font-size: 24px;">安装完毕</b><br><br><br>
			
			<p class="margin">
				<button class="blue big" onClick="window.location='../'">进入首页</button> 　
				<button class="yellow big" onClick="window.location='../admin/'">进入后台</button>
			</p>
		</div>
		<br>
		<br>
	</div>
</div>
<?php include "./install/view/footer.inc.htm"; ?>