<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/tether.min.css">
		<script src="js/tether.min.js"></script>
	</head>
	<body>
	
	<div class="collapse" id="exCollapsingNavbar">
  <div class="bg-inverse p-a-1">
    <h4>Collapsed content</h4>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    &#9776;
  </button>
</nav>

	
	<h1>Hello, world!</h1>
	<form>
		<fieldset class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			<small class="text-muted">We'll never share your email with anyone else.</small>
		</fieldset>
		<fieldset class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</fieldset>
		<fieldset class="form-group">
			<label for="exampleSelect1">Example select</label>
			<select class="form-control" id="exampleSelect1">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</fieldset>
		<fieldset class="form-group">
			<label for="exampleSelect2">Example multiple select</label>
			<select multiple class="form-control" id="exampleSelect2">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</fieldset>
		<fieldset class="form-group">
			<label for="exampleTextarea">Example textarea</label>
			<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
		</fieldset>
		<fieldset class="form-group">
			<label for="exampleInputFile">File input</label>
			<input type="file" class="form-control-file" id="exampleInputFile">
			<small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
		</fieldset>
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				Option one is this and that&mdash;be sure to include why it's great
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				Option two can be something else and selecting it will deselect option one
			</label>
		</div>
		<div class="radio disabled">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
				Option three is disabled
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Check me out
			</label>
		</div>
		
			
		<div class="form-group has-success">
			<label class="control-label" for="inputSuccess1">Input with success</label>
			<input type="text" class="form-control form-control-success" id="inputSuccess1">
		</div>
		<div class="form-group has-warning">
			<label class="control-label" for="inputWarning1">Input with warning</label>
			<input type="text" class="form-control form-control-warning" id="inputWarning1">
		</div>
		<div class="form-group has-danger">
			<label class="control-label" for="inputError1">Input with error</label>
			<input type="text" class="form-control form-control-error" id="inputError1">
		</div>
		
		<div class="has-success">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="checkboxSuccess" value="option1">
					Checkbox with success
				</label>
			</div>
		</div>
		<div class="has-warning">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="checkboxWarning" value="option1">
					Checkbox with warning
				</label>
			</div>
		</div>
		<div class="has-danger">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="checkboxError" value="option1">
					Checkbox with error
				</label>
			</div>
		</div>
			
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
		
	<ul class="nav nav-tabs" id="mytab">
	  <li class="nav-item">
	    <a href="#" class="nav-link active">Active</a>
	  </li>
	  <li class="nav-item">
	    <a href="#" class="nav-link">Link</a>
	  </li>
	  <li class="nav-item">
	    <a href="#" class="nav-link">Another link</a>
	  </li>
	  <li class="nav-item disabled">
	    <a href="#" class="nav-link">Disabled</a>
	  </li>
	</ul>

	<!-- jQuery first, then Bootstrap JS. -->
	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/bootstrap/dist/js/bootstrap.js"></script>
</body>
<script>
var jmytab = $('#mytab');
jmytab.find('li').eq(1).tab('show');
</script>
</html>