</div>

<nav class="navbar navbar-full navbar-fixed-bottom navbar-light bg-faded">
	<div class="container navbar-nav">
		<div class="row">
			<div class="col-xs-3">
				<a href="<?php echo url('hot');?>" class="nav-link active">热门</a>
			</div>
			<div class="col-xs-3">
				<a href="<?php echo url('star');?>" class="nav-link">分类</a>
			</div>
			<div class="col-xs-3">
				<a href="<?php echo url('find');?>" class="nav-link">发现</a>
			</div>
			<div class="col-xs-3">
				<a href="<?php echo url('find');?>" class="nav-link">我的</a>
			</div>
		</div>
	</div>
</nav>

<script src="view/js/jquery-1.11.1.js"></script>
<script src="view/js/tether.js"></script>
<script src="view/js/bootstrap.js"></script>
<script>var debug = <?php echo DEBUG; ?>;</script>
<script src="view/js/xiuno.js"></script>

</body>
</html>